= javascript_include_tag 'jquery-ui'
- if @png == "none"
   = image_tag "none/No_image_available.svg"
- else
   = image_tag url_for(:controller => "drawings", :action => "getimage", :id => params[:id])
