%div{:id=>"breadcrumbs", :class=>"container"}
   %div
      %div
         %ol{:class=>"breadcrumb"}
            %li{:class=>"hidden-sm hidden-xs"}
               = link_to company_user_path(session[:company_id] ,session[:user_id]) do
                  Home
            %li{:class=>"hidden-sm hidden-xs"} PNG
= javascript_include_tag 'jquery-ui'
%div{:class=>"container"}
   %div{:class=>"row row-content-no-padding2"}
      %div
         - if @png == "none"
            = image_tag "none/No_image_available.svg"
         - else
            = image_tag url_for(:controller => "drawings", :action => "getimage", :id => params[:id])
