.show {
    z-index:1000;
    position: absolute;
    background-color:#C0C0C0;
    border: 1px solid blue;
    padding: 2px;
    display: block;
    margin: 0;
    list-style-type: none;
    list-style: none;
}

.hide {
    display: none;
}

.show li{ list-style: none; }
.show a { border: 0 !important; text-decoration: none; }
.show a:hover { text-decoration: underline !important; }

.glossymenu{
list-style-type: none;
margin: 5px 0;
padding: 0;
width: 170px;
border: 1px solid #9A9A9A;
border-bottom-width: 0;
}

.glossymenu li a{
background: white url(media/glossyback.gif) repeat-x bottom left;
font: bold 13px "Lucida Grande", "Trebuchet MS", Verdana, Helvetica, sans-serif;
color: white;
display: block;
width: auto;
padding: 3px 0;
padding-left: 10px;
text-decoration: none;

}


* html .glossymenu li a{ /*IE only. Actual menu width minus left padding of A element (10px) */
width: 160px;
}

.glossymenu li a:visited, .glossymenu li a:active{
color: white;
}

.glossymenu li a:hover{
background-image: url(media/glossyback2.gif);
}

.ui-accordion .ui-accordion-header {
  cursor: pointer;
  position: relative;
  margin-top: 1px;
  zoom: 1;
}
.ui-accordion .ui-accordion-li-fix {
  display: inline;
}
.ui-accordion .ui-accordion-header-active {
  border-bottom: 0 !important;
}
.ui-accordion .ui-accordion-header a {
  display: block;
  font-size: 1em;
  padding: .5em .5em .5em .7em;
}
/* IE7-/Win - Fix extra vertical space in lists */
.ui-accordion a {
  zoom: 1;
}
.ui-accordion-icons .ui-accordion-header a {
  padding-left: 2.2em;
}
.ui-accordion .ui-accordion-header .ui-icon {
  position: absolute;
  left: .5em;
  top: 50%;
  margin-top: -8px;
}
.ui-accordion .ui-accordion-content {
  padding: 1em 2.2em;
  border-top: 0;
  margin-top: -2px;
  position: relative;
  top: 1px;
  margin-bottom: 2px;
  overflow: auto;
  display: none;
  zoom: 1;
}
.ui-accordion .ui-accordion-content-active {
  display: block;
}
/* Prevent the text contents of draggable elements from being selectable. */
/* line 3, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/contextmenu_orig.scss */
[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
  cursor: move;
}

/* line 14, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/contextmenu_orig.scss */
#pagewrapper {
  min-height: 100%;
}

/* line 30, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/contextmenu_orig.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 38, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/contextmenu_orig.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 41, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/contextmenu_orig.scss */
section > .inner {
  margin: 0 auto;
  width: 1050px;
  max-width: 100%;
}

/* line 45, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/contextmenu_orig.scss */
section.dark {
  background-color: #29314b;
  color: #c0c4d3;
  background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9Ii0wLjA5NzA1OCIgeTE9IjAuMTgyNTM5IiB4Mj0iMS4wOTcwNTgiIHkyPSIwLjgxNzQ2MSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzBmMTQyNCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzI5MzE0YiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=="), #29314b;
  background: -moz-linear-gradient(332deg, #0f1424, #29314b), #29314b;
  background: -webkit-linear-gradient(332deg, #0f1424, #29314b), #29314b;
  background: linear-gradient(118deg, #0f1424, #29314b), #29314b;
}

/* line 52, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/contextmenu_orig.scss */
section.dark h3 {
  color: #fff;
}

/* line 54, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/contextmenu_orig.scss */
section.dark a.btn {
  color: #fff;
  background-color: #4585d8;
}

/* line 57, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/contextmenu_orig.scss */
section.dark a.btn:hover {
  background-color: #f5756c;
}

/* line 59, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/contextmenu_orig.scss */
section.dark a, section.dark a.btn.clear {
  color: #65a4f5;
  background-color: transparent;
}

/* line 62, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/contextmenu_orig.scss */
section.dark a:hover, section.dark a.btn.clear:hover {
  color: #fff;
}

/* line 64, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/contextmenu_orig.scss */
section.padding {
  padding-top: 140px;
}

/* line 66, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/contextmenu_orig.scss */
section .left, section .right {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}

/* line 72, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/contextmenu_orig.scss */
section .left {
  width: 64%;
  max-width: 100%;
}

/* line 75, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/contextmenu_orig.scss */
section .right {
  width: 36%;
  text-align: right;
}

/* line 78, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/contextmenu_orig.scss */
section .right img {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  vertical-align: middle;
}

/* line 85, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/contextmenu_orig.scss */
section .right img.two {
  margin-top: 20px;
}

/* line 87, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/contextmenu_orig.scss */
section .buttons {
  margin-top: 60px;
}

/* line 89, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/contextmenu_orig.scss */
section .buttons a.clear, section .buttons .more {
  margin-left: 10px;
  margin-right: 10px;
}

/* line 92, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/contextmenu_orig.scss */
section .buttons .more {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  padding: 14px 22px;
}

/* line 99, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/contextmenu_orig.scss */
section .buttons .more a {
  margin: 0 5px;
}

/* line 102, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/contextmenu_orig.scss */
.points {
  padding: 80px 0;
  width: 100%;
  background-color: #f5f6f8;
  background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ViZWZmOCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2Y1ZjZmOCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=="), #f5f6f8;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ebeff8), color-stop(100%, #f5f6f8)), #f5f6f8;
  background: -moz-linear-gradient(#ebeff8, #f5f6f8), #f5f6f8;
  background: -webkit-linear-gradient(#ebeff8, #f5f6f8), #f5f6f8;
  background: linear-gradient(#ebeff8, #f5f6f8), #f5f6f8;
}

/* line 111, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/contextmenu_orig.scss */
.points.top {
  border-top: 1px solid #e2e6eb;
}

/* line 113, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/contextmenu_orig.scss */
.points.bottom {
  border-bottom: 1px solid #e2e6eb;
}

/* line 115, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/contextmenu_orig.scss */
.points .inner {
  width: 1200px;
  padding-top: 0;
  padding-bottom: 0;
  text-align: center;
}

/* line 120, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/contextmenu_orig.scss */
.points .point {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  width: 24%;
  text-align: center;
  vertical-align: top;
}

/* line 129, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/contextmenu_orig.scss */
.points .point span {
  display: block;
  width: 120px;
  height: 120px;
  margin: 0 auto 27px auto;
  background-color: #fff;
  border: 1px solid #e2e6eb;
  background: white url(/assets/home_page_icons.png) no-repeat left top;
  -moz-border-radius: 34px;
  -webkit-border-radius: 34px;
  border-radius: 34px;
}

/* line 140, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/contextmenu_orig.scss */
.points .point h4 {
  color: #43464c;
  font-size: 12px;
  margin-bottom: 12px;
}

/* line 144, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/contextmenu_orig.scss */
.points .point p {
  color: #8e97a9;
  font-size: 12px;
  padding: 0 20px;
  max-width: 260px;
  margin: 0 auto;
}

/* line 151, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/contextmenu_orig.scss */
.points .point.setup span {
  background-position: left top;
}

/* line 153, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/contextmenu_orig.scss */
.points .point.wallet span {
  background-position: -123px -1px;
}

/* line 155, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/contextmenu_orig.scss */
.points .point.debit span {
  background-position: -245px -1px;
}

/* line 157, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/contextmenu_orig.scss */
.points .point.delivery span {
  background-position: -367px -1px;
}

/* line 159, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/contextmenu_orig.scss */
.points .point.recurring span {
  background-position: -1px -123px;
}

/* line 161, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/contextmenu_orig.scss */
.points .point.onetime span {
  background-position: -123px -123px;
}

/* line 163, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/contextmenu_orig.scss */
.points .point.preorder span {
  background-position: -245px -123px;
}

/* line 165, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/contextmenu_orig.scss */
.points .point.invoices span {
  background-position: -367px -123px;
}

/* line 167, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/contextmenu_orig.scss */
.points .point.reports span {
  background-position: -1px -245px;
}

/* line 169, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/contextmenu_orig.scss */
.points .point.receipts span {
  background-position: -123px -245px;
}

/* line 171, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/contextmenu_orig.scss */
.points .point.terminal span {
  background-position: -245px -245px;
}

/* line 173, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/contextmenu_orig.scss */
.points .point.ssl span {
  background-position: -367px -245px;
}

/* line 175, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/contextmenu_orig.scss */
.points .point.coupons span {
  background-position: -1px -367px;
}

/* line 177, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/contextmenu_orig.scss */
.points .point.export span {
  background-position: -123px -367px;
}

/* line 179, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/contextmenu_orig.scss */
.points .point.member span {
  background-position: -245px -367px;
}

/* line 181, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/contextmenu_orig.scss */
.points .point.analytics span {
  background-position: -367px -367px;
}

/* line 184, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/contextmenu_orig.scss */
#hero {
  position: relative;
  text-align: center;
  width: 100%;
  height: 100%;
  max-height: 940px;
  padding: 200px 0 0 0;
  color: #fff;
  background-color: #191625;
  overflow-y: hidden;
}

/* line 194, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/contextmenu_orig.scss */
#hero #hero_bg {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  background: black url(/assets/yellow_wall.jpg) no-repeat center top;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  z-index: 0;
}

/* line 206, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/contextmenu_orig.scss */
#hero h2 {
  padding: 0 30px 70px 30px;
  font-weight: 100;
  font-size: 30px;
  line-height: 1.2em;
  color: #150579;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 0.999;
}

/* line 214, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/contextmenu_orig.scss */
#hero .desc {
  width: 620px;
  max-width: 100%;
  color: #150579;
  margin: 0 auto 120px auto;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 0.999;
}

/* line 221, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/contextmenu_orig.scss */
#hero .desc p {
  padding: 0 30px;
  font-weight: 200;
  font-size: 14px;
  line-height: 1.7em;
}

/* line 226, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/contextmenu_orig.scss */
#hero nav {
  padding: 50px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjA4Ii8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAuMyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=="), transparent;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0.08)), color-stop(100%, rgba(0, 0, 0, 0.3))), transparent;
  background: -moz-linear-gradient(rgba(0, 0, 0, 0.08), rgba(0, 0, 0, 0.3)), transparent;
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.08), rgba(0, 0, 0, 0.3)), transparent;
  background: linear-gradient(rgba(0, 0, 0, 0.08), rgba(0, 0, 0, 0.3)), transparent;
  -moz-box-shadow: inset rgba(255, 255, 255, 0.1) 0 1px 0, inset rgba(0, 0, 0, 0.3) 0 -1px 0;
  -webkit-box-shadow: inset rgba(255, 255, 255, 0.1) 0 1px 0, inset rgba(0, 0, 0, 0.3) 0 -1px 0;
  box-shadow: inset rgba(255, 255, 255, 0.1) 0 1px 0, inset rgba(0, 0, 0, 0.3) 0 -1px 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 0.999;
}

/* line 239, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/contextmenu_orig.scss */
#hero a.button {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  padding: 29px 58px 27px 58px;
  font-size: 15px;
  color: #fff;
  margin: 0 auto;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  text-shadow: rgba(0, 0, 0, 0.25) 0 -1px 0;
  background-color: #f31c0d;
  text-decoration: none;
  background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y3NzY2YyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2Y2NjM1OSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=="), #f5756c;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f7766c), color-stop(100%, #f31c0d)), #f31c0d;
  background: -moz-linear-gradient(#f7766c, #f31c0d), #f31c0d;
  background: -webkit-linear-gradient(#f7766c, #f31c0d), #f31c0d;
  background: linear-gradient(#f7766c, #f31c0d), #f31c0d;
  -moz-box-shadow: inset rgba(255, 255, 255, 0.5) 0 1px 0, rgba(0, 0, 0, 0.3) 0 1px 2px;
  -webkit-box-shadow: inset rgba(255, 255, 255, 0.5) 0 1px 0, rgba(0, 0, 0, 0.3) 0 1px 2px;
  box-shadow: inset rgba(255, 255, 255, 0.5) 0 1px 0, rgba(0, 0, 0, 0.3) 0 1px 2px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

/* line 271, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/contextmenu_orig.scss */
#hero a.button:hover {
  -moz-box-shadow: inset rgba(255, 255, 255, 0.3) 0 1px 0, rgba(0, 0, 0, 0.3) 0 1px 2px, #f31c0d 0 1px 40px;
  -webkit-box-shadow: inset rgba(255, 255, 255, 0.3) 0 1px 0, rgba(0, 0, 0, 0.3) 0 1px 2px, #f31c0d 0 1px 40px;
  box-shadow: inset rgba(255, 255, 255, 0.3) 0 1px 0, rgba(0, 0, 0, 0.3) 0 1px 2px, #f31c0d 0 1px 40px;
}

/* line 275, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/contextmenu_orig.scss */
#hero a.button:active {
  -moz-transform: scale3d(0.95, 0.95, 0.95);
  -webkit-transform: scale3d(0.95, 0.95, 0.95);
  transform: scale3d(0.95, 0.95, 0.95);
}

/* line 279, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/contextmenu_orig.scss */
#hero a.more {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  padding: 28px 58px;
  font-weight: 200;
  font-size: 26px;
  color: #fff;
}

/* line 289, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/contextmenu_orig.scss */
#hero a.more:hover {
  color: rgba(255, 255, 255, 0.6);
}

/* line 293, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/contextmenu_orig.scss */
section {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 301, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/contextmenu_orig.scss */
#blackwhite {
  background: url("/assets/coffee-bw.jpg") no-repeat 50% 50%;
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 100%;
  left: 0px;
  display: block;
}

/* line 317, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/contextmenu_orig.scss */
#letter {
  background: url("/assets/table_top_w_typewriter.jpg") no-repeat 50% 50%;
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  height: 100%;
  min-height: 800px;
  width: 100%;
  position: absolute;
  top: 12px;
  left: 0px;
  display: block;
}

/* line 335, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/contextmenu_orig.scss */
#sepia {
  background: url("/assets/coffee-sepia.jpg") no-repeat 50% 50%;
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 200%;
  left: 0px;
  display: block;
}

/* line 352, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/contextmenu_orig.scss */
body {
  margin: 0;
  font-size: 15px;
  color: #71767f;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  height: 100%;
}

/* line 363, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/contextmenu_orig.scss */
body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  height: 100%;
}

/* line 371, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/contextmenu_orig.scss */
#page-container {
  position: relative;
  top: 40px;
  height: 1800px;
  width: 100%;
}

/* line 378, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/contextmenu_orig.scss */
#accordian-canvas-wrapper {
  position: relative;
  top: 60px;
  height: 1000px;
  width: 100%;
}

/* line 385, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/contextmenu_orig.scss */
#canvas-container {
  position: absolute;
  width: 1000px;
  height: 800px;
  box-shadow: 0 0 5px 1px black;
  margin: 10px auto;
  border: 5px solid transparent;
}

/* line 393, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/contextmenu_orig.scss */
#canvas-container.over {
  border: 5px dashed cyan;
}

/* line 396, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/contextmenu_orig.scss */
#images img.img_dragging {
  opacity: 0.4;
}

/* line 400, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/contextmenu_orig.scss */
#menubar {
  position: relative;
  top: 50px;
}

/* line 405, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/contextmenu_orig.scss */
.hide {
  display: none;
}

/* line 409, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/contextmenu_orig.scss */
textarea {
  resize: none;
  font-family: Consolas, Courier New, monospace;
  font-size: 14px;
}

/* line 415, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/contextmenu_orig.scss */
div.padded {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

/* line 422, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/contextmenu_orig.scss */
.show {
  display: inline;
}

/* line 426, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/contextmenu_orig.scss */
.glossymenu {
  position: absolute;
}

/* line 430, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/contextmenu_orig.scss */
.glossymenu ul {
  position: absolute;
  list-style-type: none;
  margin: 5px 0;
  padding: 0;
  width: 250px;
  border: 1px solid #9A9A9A;
  border-bottom-width: 0;
  list-style-type: none;
  list-style: none;
}

/* line 442, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/contextmenu_orig.scss */
.glossymenu li a {
  background: white url(media/glossyback.gif) repeat-x bottom left;
  font: bold 13px "Lucida Grande", "Trebuchet MS", Verdana, Helvetica, sans-serif;
  color: white;
  display: block;
  width: auto;
  padding: 3px 0;
  padding-left: 10px;
  text-decoration: none;
  list-style-type: none;
  list-style: none;
}

/* line 457, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/contextmenu_orig.scss */
* html .glossymenu li a {
  /*IE only. Actual menu width minus left padding of A element (10px) */
  background: white url("/assets/glossyback.gif") repeat-x bottom left;
  font: bold 13px "Lucida Grande", "Trebuchet MS", Verdana, Helvetica, sans-serif;
  color: white;
  display: block;
  width: auto;
  padding: 0px 0;
  padding-left: 0px;
  text-decoration: none;
}

/* line 468, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/contextmenu_orig.scss */
.glossymenu li a:visited, .glossymenu li a:active {
  color: white;
}

/* line 472, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/contextmenu_orig.scss */
.glossymenu li a:hover {
  background-image: url("/assets/glossyback2.gif");
}

/* line 476, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/contextmenu_orig.scss */
.LabelFormDiv {
  display: none;
}

/* line 480, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/contextmenu_orig.scss */
.foo {
  position: absolute;
  left: 110px;
  top: 10px;
}

/* line 486, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/contextmenu_orig.scss */
html, body, div, canvas {
  margin: 0;
  padding: 0;
}

/* line 491, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/contextmenu_orig.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 497, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/contextmenu_orig.scss */
#accordian-container {
  position: absolute;
  width: 200px;
}

/* line 502, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/contextmenu_orig.scss */
#accordion .ui-accordion-content {
  font-size: 10pt;
}

/* line 506, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/contextmenu_orig.scss */
#accordion .ui-accordion-content > * {
  margin: 0;
}

/* line 510, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/contextmenu_orig.scss */
#accordion .ui-accordion-header {
  line-height: 10px;
  font-size: 8pt;
  text-indent: 10px;
}

/* line 516, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/contextmenu_orig.scss */
accordion .ui-accordion-header h3 {
  font-size: 8pt;
}

/* line 520, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/contextmenu_orig.scss */
.modalDialog {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99999;
  opacity: 1;
  display: none;
  /*
  opacity:1;
	pointer-events: auto;
  */
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: auto;
}

/* line 541, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/contextmenu_orig.scss */
.modalDialog > div {
  width: 400px;
  position: relative;
  margin: 10% auto;
  padding: 5px 20px 13px 20px;
  border-radius: 10px;
  background: #fff;
  background: -moz-linear-gradient(white, #999999);
  background: -webkit-linear-gradient(white, #999999);
  background: -o-linear-gradient(white, #999999);
}

/* line 553, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/contextmenu_orig.scss */
.close {
  background: #606061;
  color: #FFFFFF;
  line-height: 25px;
  position: absolute;
  right: -12px;
  text-align: center;
  top: -10px;
  width: 24px;
  text-decoration: none;
  font-weight: bold;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -moz-box-shadow: 1px 1px 3px #000;
  -webkit-box-shadow: 1px 1px 3px #000;
  box-shadow: 1px 1px 3px #000;
}

/* line 572, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/contextmenu_orig.scss */
.close:hover {
  background: #00d9ff;
}
/* line 1, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/form_style.scss */
.form-style-10-wrapper {
  width: 100%;
  float: left;
  padding-top: 10px;
}

/* line 7, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/form_style.scss */
.floated_box {
  position: relative;
  width: 100%;
}

/* line 12, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/form_style.scss */
.form-style-10 {
  width: 450px;
  padding: 30px;
  margin: 40px auto;
  background: #FFF;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
  -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
}

/* line 24, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/form_style.scss */
.form-style-10 .inner-wrap {
  padding: 30px;
  background: #F8F8F8;
  border-radius: 6px;
  margin-bottom: 15px;
}

/* line 30, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/form_style.scss */
.form-style-10 h1 {
  background: #2A88AD;
  padding: 20px 30px 15px 30px;
  margin: -30px -30px 30px -30px;
  border-radius: 10px 10px 0 0;
  -webkit-border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
  font: normal 30px 'Bitter', serif;
  -moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
  -webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
  box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
  border: 1px solid #257C9E;
}

/* line 45, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/form_style.scss */
.form-style-10 h1 > span {
  display: block;
  margin-top: 2px;
  font: 13px Arial, Helvetica, sans-serif;
}

/* line 50, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/form_style.scss */
.form-style-10 label {
  display: block;
  font: 13px Arial, Helvetica, sans-serif;
  color: #888;
  margin-bottom: 15px;
}

/* line 66, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/form_style.scss */
.form-style-10 input[type="text"],
.form-style-10 input[type="date"],
.form-style-10 input[type="datetime"],
.form-style-10 input[type="email"],
.form-style-10 input[type="number"],
.form-style-10 input[type="search"],
.form-style-10 input[type="time"],
.form-style-10 input[type="url"],
.form-style-10 input[type="password"],
.form-style-10 textarea,
.form-style-10 select {
  display: block;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 100%;
  padding: 8px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border: 2px solid #fff;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
  -moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
  -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
}

/* line 82, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/form_style.scss */
.form-style-10 .section {
  font: normal 20px 'Bitter', serif;
  color: #2A88AD;
  margin-bottom: 5px;
}

/* line 87, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/form_style.scss */
.form-style-10 .section span {
  background: #2A88AD;
  padding: 5px 10px 5px 10px;
  position: absolute;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border: 4px solid #fff;
  font-size: 14px;
  margin-left: -45px;
  color: #fff;
  margin-top: -3px;
}

/* line 102, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/form_style.scss */
.form-style-10 input[type="button"],
.form-style-10 button[type="submit"],
.form-style-10 input[type="submit"] {
  background: #2A88AD;
  padding: 8px 20px 8px 20px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
  font: normal 30px 'Bitter', serif;
  -moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
  -webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
  box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
  border: 1px solid #257C9E;
  font-size: 15px;
}

/* line 118, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/form_style.scss */
.form-style-10 input[type="button"]:hover,
.form-style-10 input[type="submit"]:hover {
  background: #2A6881;
  -moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
  -webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
  box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
}

/* line 124, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/form_style.scss */
.form-style-10 .privacy-policy {
  float: right;
  width: 250px;
  font: 12px Arial, Helvetica, sans-serif;
  color: #4D4D4D;
  margin-top: 10px;
  text-align: right;
}
@import url(http://fonts.googleapis.com/css?family=Open+Sans:700);
#wrapper_head{position: absolute;}
#cssmenu {
  float: left;
  position: fixed;
  top: 0px;
  left: 0px;
  background: #150579;
  width: 100%;
  z-index: 1000;
}

#wrapper {
  float: left;
  position: relative;
  width: 100%;
}

#errors {
  float: left;
  position: relative;
  background: #150500;
  width: 100%;
  padding: 5px;
}

#errors ul {
  padding-left:5px;
  line-height: 1;
  zoom: 1;
}

#errors ul li {
  color: red;
  width: 100%;
  padding-left: 5px;
  margin-left: 10px;
  list-style-type: square;
}

#errors ul li.green {
  color: green;
  width: 100%;
  padding-left: 5px;
  margin-left: 10px;
  list-style-type: square;
}

#cssmenu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 1;
  display: block;
  zoom: 1;
}
#cssmenu ul:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
#cssmenu ul li {
  display: inline-block;
  padding: 0;
  margin: 0;
}

#cssmenu ul li.align-right {
  display: inline-block;
  padding: 0;
  margin: 0;
  float: right;
}

#cssmenu.align-right ul li {
  float: right;
}

#cssmenu.align-center ul {
  text-align: center;
}
#cssmenu ul li a {
  color: #ffffff;
  text-decoration: none;
  display: block;
  padding: 15px 25px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  position: relative;
  -webkit-transition: color .25s;
  -moz-transition: color .25s;
  -ms-transition: color .25s;
  -o-transition: color .25s;
  transition: color .25s;
}

#cssmenu ul li a:hover {
  color: #d3d0e3;
  background: #150579;
}
#cssmenu ul li a:hover:before {
  width: 100%;
}
#cssmenu ul li a:after {
  content: "";
  display: block;
  position: absolute;
  right: -3px;
  top: 19px;
  height: 6px;
  width: 6px;
  background: #d3d0e3;
  opacity: .5;
}
#cssmenu ul li a:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 0;
  background: #d3d0e3;
  -webkit-transition: width .25s;
  -moz-transition: width .25s;
  -ms-transition: width .25s;
  -o-transition: width .25s;
  transition: width .25s;
}
#cssmenu ul li.last > a:after,
#cssmenu ul li:last-child > a:after {
  display: none;
}
#cssmenu ul li.active a {
  color: #d3d0e3;
}
#cssmenu ul li.active a:before {
  width: 100%;
}
#cssmenu.align-right li.last > a:after,
#cssmenu.align-right li:last-child > a:after {
  display: block;
}
#cssmenu.align-right li:first-child a:after {
  display: none;
}
@media screen and (max-width: 768px) {
  #cssmenu ul li {
    float: none;
    display: block;
  }
  #cssmenu ul li a {
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 1px solid #d3d0e3;
  }

  #cssmenu ul li.last > a,
  #cssmenu ul li:last-child > a {
    border: 0;
  }
  #cssmenu ul li a:after {
    display: none;
  }
  #cssmenu ul li a:before {
    display: none;
  }
}
/* line 1, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/scaffolds.css.scss */
body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 9, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/scaffolds.css.scss */
p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 15, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/scaffolds.css.scss */
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

/* line 21, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/scaffolds.css.scss */
a {
  color: #000;
}
/* line 23, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/scaffolds.css.scss */
a:visited {
  color: #666;
}
/* line 26, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/scaffolds.css.scss */
a:hover {
  color: #fff;
  background-color: #000;
}

/* line 33, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/scaffolds.css.scss */
div.field, div.actions {
  margin-bottom: 10px;
}

/* line 38, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/scaffolds.css.scss */
#notice {
  color: green;
}

/* line 42, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/scaffolds.css.scss */
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

/* line 48, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/scaffolds.css.scss */
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
/* line 55, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/scaffolds.css.scss */
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}
/* line 65, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/scaffolds.css.scss */
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}
/*

https://github.com/tobiasahlin/SpinKit

The MIT License (MIT)

Copyright (c) 2015 Tobias Ahlin

Permission is hereby granted, free of charge, to any person obtaining a copy of
this software and associated documentation files (the "Software"), to deal in
the Software without restriction, including without limitation the rights to
use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of
the Software, and to permit persons to whom the Software is furnished to do so,
subject to the following conditions:

The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS
FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR
COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER
IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN
CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.

*/
/* line 29, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/spinner.css.scss */
.spinner {
  /*
  margin: 100px auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
  */
  display: none;
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99999;
  opacity: 1;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: auto;
}

/* line 58, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/spinner.css.scss */
.spinner > div {
  background-color: #fff;
  margin: 0 auto;
  margin-top: 100px;
  width: 6px;
  height: 40px;
  text-align: center;
  font-size: 10px;
  display: inline-block;
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

/* line 72, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/spinner.css.scss */
.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

/* line 77, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/spinner.css.scss */
.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

/* line 82, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/spinner.css.scss */
.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

/* line 87, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/spinner.css.scss */
.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  /* line 93, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/spinner.css.scss */
  0%, 40%, 100% {
    -webkit-transform: scaleY(0.4);
  }

  /* line 94, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/spinner.css.scss */
  20% {
    -webkit-transform: scaleY(1);
  }
}

@keyframes sk-stretchdelay {
  /* line 98, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/spinner.css.scss */
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }

  /* line 101, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/spinner.css.scss */
  20% {
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
  }
}

/*

From SpiffyGif
http://spiffygif.com/docs/

*/
/* line 113, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/spinner.css.scss */
.spinnergif {
  /*
  background-position: center center;
  background-repeat: no-repeat;
  */
  border-radius: 50%;
  /* Rounds out the halo */
  opacity: .7;
  /* Some subtle opacity to help blend with variable background colors */
}

/* line 121, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/spinner.css.scss */
.spinnergif.small {
  height: 24px;
  width: 24px;
  /* Pixel size of the GIF you download */
  background: url(media/spiffygif_28x28.gif);
}

/* line 125, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/spinner.css.scss */
.spinnergif.medium {
  text-align: center;
  margin: 0 auto;
  margin-top: 32px;
  height: 32px;
  width: 32px;
  background: url(/assets/spiffygif_32x32.gif);
}

/* line 132, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/spinner.css.scss */
.spinnergif.large {
  height: 64px;
  width: 64px;
  background: url(/assets/spiffygif_64x64.gif);
}

/*
SpiffyGif License

-You are free to copy and redistribute any images generated from SpiffyGif in any medium or format, even commercially.
-You are permitted to remix, transform, and build upon images generated from SpiffyGif for any purpose, even commercially.

THIS SOFTWARE AND GENERATED IMAGE FILES ARE PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF
MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT
HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT
OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.


*/
/* line 1, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/tableslist.scss */
.flatTable {
  width: 100%;
  min-width: 500px;
  border-collapse: collapse;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: #6b6b6b;
}

/* line 10, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/tableslist.scss */
.flatTable tr {
  height: 50px;
  background: #d4d1d5;
  border-bottom: rgba(0, 0, 0, 0.05) 1px solid;
}

/* line 16, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/tableslist.scss */
.flatTable tbody tr td a {
  background: #d4d1d5;
}

/* line 18, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/tableslist.scss */
th {
  box-sizing: border-box;
  font-size: 12pt;
  padding-left: 30px;
  text-align: left;
}

/* line 25, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/tableslist.scss */
th .asc {
  background-image: url(/assets/arrows_up_5.png);
  background-position: right center;
  /*Positioning*/
  background-repeat: no-repeat;
  box-sizing: border-box;
  padding-right: 20px;
  font-size: 12pt;
  text-align: left;
}

/* line 35, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/tableslist.scss */
th .desc {
  background-image: url(/assets/arrows_down_5.png);
  background-position: right center;
  /*Positioning*/
  background-repeat: no-repeat;
  padding-right: 20px;
  box-sizing: border-box;
  font-size: 12pt;
  text-align: left;
}

/* line 45, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/tableslist.scss */
.flatTable td {
  box-sizing: border-box;
  padding-left: 30px;
  font-size: 12pt;
}

/* line 51, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/tableslist.scss */
table.flatTable tr.headingTr th.first {
  box-sizing: border-box;
  padding-left: 30px;
  font-size: 12pt;
  width: 20%;
}

/* line 58, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/tableslist.scss */
table.flatTable tr.headingTr th.second {
  box-sizing: border-box;
  padding-left: 30px;
  font-size: 12pt;
  width: 10%;
}

/* line 65, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/tableslist.scss */
table.flatTable tr.titleTr td.first {
  width: 20%;
}

/* line 69, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/tableslist.scss */
td.first {
  box-sizing: border-box;
  padding-left: 30px;
  font-size: 12pt;
  width: 20%;
}

/* line 76, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/tableslist.scss */
td.second {
  box-sizing: border-box;
  padding-left: 30px;
  font-size: 12pt;
  width: 10%;
}

/* line 82, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/tableslist.scss */
td.third {
  box-sizing: border-box;
  padding-left: 30px;
  font-size: 12pt;
  width: 10%;
}

/* line 89, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/tableslist.scss */
td.fourth {
  box-sizing: border-box;
  padding-left: 30px;
  font-size: 12pt;
  width: 10%;
}

/* line 95, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/tableslist.scss */
.flatTable .titleTr {
  height: 70px;
  color: #f6f3f7;
  background: #418a95;
  border: 0px solid;
}

/* line 102, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/tableslist.scss */
.flatTable .plusTd {
  background: rgba(0, 0, 0, 0.1);
}

/* line 106, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/tableslist.scss */
.flatTable .plusTd a {
  background: rgba(0, 0, 0, 0.1);
}

/* line 110, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/tableslist.scss */
.flatTable .controlTd {
  position: relative;
  width: 80px;
  cursor: pointer;
}

/* line 116, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/tableslist.scss */
.flatTable .headingTr {
  height: 30px;
  background: #63acb7;
  color: #f6f3f7;
  font-size: 12pt;
  border: 0px solid;
}

/* line 124, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/tableslist.scss */
.button {
  text-align: center;
  cursor: pointer;
}

/* line 129, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/tableslist.scss */
.sForm {
  position: absolute;
  top: 0;
  right: -400px;
  width: 400px;
  height: 100%;
  background: #d4d1d5;
  overflow: hidden;
  transition: width 1s, right .3s;
  padding: 0px;
  box-sizing: border-box;
}

/* line 142, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/tableslist.scss */
.sForm .close {
  float: right;
  height: 70px;
  width: 80px;
  padding-top: 25px;
  box-sizing: border-box;
  background: rgba(255, 0, 0, 0.4);
}

/* line 151, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/tableslist.scss */
.sForm .title {
  width: 100%;
  height: 70px;
  padding-top: 20px;
  padding-left: 20px;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.1);
}

/* line 160, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/tableslist.scss */
.open {
  right: 0;
  width: 400px !important;
}

/* line 165, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/tableslist.scss */
.settingsIcons {
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  overflow: hidden;
}

/* line 173, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/tableslist.scss */
.display {
  width: 300px;
}

/* line 177, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/tableslist.scss */
.settingsIcon {
  float: right;
  background: #418a95;
  color: #f6f3f7;
  height: 50px;
  width: 80px;
  padding-top: 15px;
  box-sizing: border-box;
  text-align: center;
  overflow: hidden;
  transition: width 1s;
}

/* line 190, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/tableslist.scss */
.settingsIcon:hover {
  background: #1f6873;
}

/* line 194, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/tableslist.scss */
tr:nth-child(3) .settingsIcon {
  height: 51px;
}

/* line 198, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/tableslist.scss */
.openIcon {
  width: 80px;
}

/* line 202, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/tableslist.scss */
.pagination {
  font-family: 'Open Sans', sans-serif;
  font-size: 12pt;
  text-align: center;
}
/* line 206, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/tableslist.scss */
.pagination .previous_page {
  background: #7777ff;
  color: white;
}
/* line 207, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/tableslist.scss */
.pagination .previous_page.disabled {
  background: white;
  color: #777777;
}
/* line 208, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/tableslist.scss */
.pagination .current {
  background: yellow;
}
/* line 209, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/tableslist.scss */
.pagination .next_page {
  background: #7777ff;
  color: white;
}
/* line 210, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/tableslist.scss */
.pagination .next_page.disabled {
  background: white;
  color: #777777;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */

 *= require bootstrap.min
//= require 'jquery-ui'
//= require 'contextmenu_orig'
//= require 'form_style'
//= require 'tableslist'
