/* Prevent the text contents of draggable elements from being selectable. */

[draggable] {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    /* Required to make elements draggable in old WebKit */
    -khtml-user-drag: element;
    -webkit-user-drag: element;
    cursor: move;
}

#pagewrapper{
  min-height: 100%;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

section > .inner {
  margin: 0 auto;
  width: 1050px;
  max-width: 100%; }
section.dark {
  background-color: #29314b;
  color: #c0c4d3;
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9Ii0wLjA5NzA1OCIgeTE9IjAuMTgyNTM5IiB4Mj0iMS4wOTcwNTgiIHkyPSIwLjgxNzQ2MSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzBmMTQyNCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzI5MzE0YiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='), #29314b;
  background: -moz-linear-gradient(332deg, #0f1424, #29314b), #29314b;
  background: -webkit-linear-gradient(332deg, #0f1424, #29314b), #29314b;
  background: linear-gradient(118deg, #0f1424, #29314b), #29314b; }
  section.dark h3 {
    color: #fff; }
  section.dark a.btn {
    color: #fff;
    background-color: #4585d8; }
    section.dark a.btn:hover {
      background-color: #f5756c; }
  section.dark a, section.dark a.btn.clear {
    color: #65a4f5;
    background-color: transparent; }
    section.dark a:hover, section.dark a.btn.clear:hover {
      color: #fff; }
section.padding {
  padding-top: 140px; }
section .left, section .right {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline; }
section .left {
  width: 64%;
  max-width: 100%; }
section .right {
  width: 36%;
  text-align: right; }
  section .right img {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    vertical-align: middle; }
    section .right img.two {
      margin-top: 20px; }
section .buttons {
  margin-top: 60px; }
  section .buttons a.clear, section .buttons .more {
    margin-left: 10px;
    margin-right: 10px; }
  section .buttons .more {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    padding: 14px 22px; }
    section .buttons .more a {
      margin: 0 5px; }

      .points {
        padding: 80px 0;
        width: 100%;
        background-color: #f5f6f8;
        background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ViZWZmOCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2Y1ZjZmOCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='), #f5f6f8;
        background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ebeff8), color-stop(100%, #f5f6f8)), #f5f6f8;
        background: -moz-linear-gradient(#ebeff8, #f5f6f8), #f5f6f8;
        background: -webkit-linear-gradient(#ebeff8, #f5f6f8), #f5f6f8;
        background: linear-gradient(#ebeff8, #f5f6f8), #f5f6f8; }
        .points.top {
          border-top: 1px solid #e2e6eb; }
        .points.bottom {
          border-bottom: 1px solid #e2e6eb; }
        .points .inner {
          width: 1200px;
          padding-top: 0;
          padding-bottom: 0;
          text-align: center; }
        .points .point {
          display: inline-block;
          vertical-align: middle;
          *vertical-align: auto;
          *zoom: 1;
          *display: inline;
          width: 24%;
          text-align: center;
          vertical-align: top; }
          .points .point span {
            display: block;
            width: 120px;
            height: 120px;
            margin: 0 auto 27px auto;
            background-color: #fff;
            border: 1px solid #e2e6eb;
            background: #fff url(/assets/home_page_icons.png) no-repeat left top;
            -moz-border-radius: 34px;
            -webkit-border-radius: 34px;
            border-radius: 34px; }
          .points .point h4 {
            color: #43464c;
            font-size: 12px;
            margin-bottom: 12px; }
          .points .point p {
            color: #8e97a9;
            font-size: 12px;
            padding: 0 20px;
            max-width: 260px;
            margin: 0 auto; }

      .points .point.setup span {
        background-position: left top; }
      .points .point.wallet span {
        background-position: -123px -1px; }
      .points .point.debit span {
        background-position: -245px -1px; }
      .points .point.delivery span {
        background-position: -367px -1px; }
      .points .point.recurring span {
        background-position: -1px -123px; }
      .points .point.onetime span {
        background-position: -123px -123px; }
      .points .point.preorder span {
        background-position: -245px -123px; }
      .points .point.invoices span {
        background-position: -367px -123px; }
      .points .point.reports span {
        background-position: -1px -245px; }
      .points .point.receipts span {
        background-position: -123px -245px; }
      .points .point.terminal span {
        background-position: -245px -245px; }
      .points .point.ssl span {
        background-position: -367px -245px; }
      .points .point.coupons span {
        background-position: -1px -367px; }
      .points .point.export span {
        background-position: -123px -367px; }
      .points .point.member span {
        background-position: -245px -367px; }
      .points .point.analytics span {
        background-position: -367px -367px; }

#hero {
  position: relative;
  text-align: center;
  width: 100%;
  height: 100%;
  max-height: 940px;
  padding: 200px 0 0 0;
  color: #fff;
  background-color: #191625;
  overflow-y: hidden; }
  #hero #hero_bg {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #000 url(/assets/yellow_wall.jpg) no-repeat center top;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    z-index: 0; }
  #hero h2 {
    padding: 0 30px 70px 30px;
    font-weight: 100;
    font-size: 30px;
    line-height: 1.2em;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 0.999; }
  #hero .desc {
    width: 620px;
    max-width: 100%;
    margin: 0 auto 120px auto;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
    opacity: 0.6; }
    #hero .desc p {
      padding: 0 30px;
      font-weight: 200;
      font-size: 12px;
      line-height: 1.7em; }
  #hero nav {
    padding: 50px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjA4Ii8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAuMyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='), transparent;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0.08)), color-stop(100%, rgba(0, 0, 0, 0.3))), transparent;
    background: -moz-linear-gradient(rgba(0, 0, 0, 0.08), rgba(0, 0, 0, 0.3)), transparent;
    background: -webkit-linear-gradient(rgba(0, 0, 0, 0.08), rgba(0, 0, 0, 0.3)), transparent;
    background: linear-gradient(rgba(0, 0, 0, 0.08), rgba(0, 0, 0, 0.3)), transparent;
    -moz-box-shadow: inset rgba(255, 255, 255, 0.1) 0 1px 0, inset rgba(0, 0, 0, 0.3) 0 -1px 0;
    -webkit-box-shadow: inset rgba(255, 255, 255, 0.1) 0 1px 0, inset rgba(0, 0, 0, 0.3) 0 -1px 0;
    box-shadow: inset rgba(255, 255, 255, 0.1) 0 1px 0, inset rgba(0, 0, 0, 0.3) 0 -1px 0;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 0.999; }
  #hero a.button {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    padding: 29px 58px 27px 58px;
    font-size: 15px;
    color: #fff;
    margin: 0 auto;
    -moz-transition-property: all;
    -o-transition-property: all;
    -webkit-transition-property: all;
    transition-property: all;
    -moz-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    text-shadow: rgba(0, 0, 0, 0.25) 0 -1px 0;
    background-color: #f31c0d;
    text-decoration: none;
    background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y3NzY2YyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2Y2NjM1OSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='), #f5756c;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f7766c), color-stop(100%, #f31c0d)), #f31c0d;
    background: -moz-linear-gradient(#f7766c, #f31c0d), #f31c0d;
    background: -webkit-linear-gradient(#f7766c, #f31c0d), #f31c0d;
    background: linear-gradient(#f7766c, #f31c0d), #f31c0d;
    -moz-box-shadow: inset rgba(255, 255, 255, 0.5) 0 1px 0, rgba(0, 0, 0, 0.3) 0 1px 2px;
    -webkit-box-shadow: inset rgba(255, 255, 255, 0.5) 0 1px 0, rgba(0, 0, 0, 0.3) 0 1px 2px;
    box-shadow: inset rgba(255, 255, 255, 0.5) 0 1px 0, rgba(0, 0, 0, 0.3) 0 1px 2px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px; }
    #hero a.button:hover {
      -moz-box-shadow: inset rgba(255, 255, 255, 0.3) 0 1px 0, rgba(0, 0, 0, 0.3) 0 1px 2px, #f31c0d 0 1px 40px;
      -webkit-box-shadow: inset rgba(255, 255, 255, 0.3) 0 1px 0, rgba(0, 0, 0, 0.3) 0 1px 2px, #f31c0d 0 1px 40px;
      box-shadow: inset rgba(255, 255, 255, 0.3) 0 1px 0, rgba(0, 0, 0, 0.3) 0 1px 2px, #f31c0d 0 1px 40px; }
    #hero a.button:active {
      -moz-transform: scale3d(0.95, 0.95, 0.95);
      -webkit-transform: scale3d(0.95, 0.95, 0.95);
      transform: scale3d(0.95, 0.95, 0.95); }
  #hero a.more {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    padding: 28px 58px;
    font-weight: 200;
    font-size: 26px;
    color: #fff; }
    #hero a.more:hover {
      color: rgba(255, 255, 255, 0.6); }


section {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

#blackwhite{

    background: url('/assets/coffee-bw.jpg') no-repeat 50% 50%;
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0px;
    display: block;

}

#letter{

    background: url('/assets/table_top_w_typewriter.jpg') no-repeat 50% 50%;
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    height: 100%;
    min-height: 800px;
    width: 100%;
    position: absolute;
    top: 12px;
    left: 0px;
    display: block;


}

#sepia{

    background: url('/assets/coffee-sepia.jpg') no-repeat 50% 50%;
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 200%;
    left: 0px;
    display: block;


}

body {
  margin: 0;
  font-size: 15px;
  color: #71767f;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  height:100%;
}

  body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    height:100%;
}

#page-container {
   position: relative;
   top:40px;
   height:1800px;
   width:100%;
}

#accordian-canvas-wrapper {
    position:relative;
    top:60px;
    height:1000px;
    width:100%;
}

#canvas-container {
    position: absolute;
    width: 1000px;
    height: 800px;
    box-shadow: 0 0 5px 1px black;
    margin: 10px auto;
    border: 5px solid transparent;
}
#canvas-container.over {
    border: 5px dashed cyan;
}
#images img.img_dragging {
    opacity: 0.4;
}

#menubar {
  position: relative;
  top: 50px;
}

.hide {
    display: none;
}

textarea  {
  resize: none;
  font-family: Consolas, Courier New, monospace;
  font-size:14px;
}

div.padded {
      padding-top: 0px;
      padding-right: 0px;
      padding-bottom: 0px;
      padding-left: 0px;
    }

.show {
    display: inline;
}

.glossymenu {
   position: absolute;
}

.glossymenu ul{
position: absolute;
list-style-type: none;
margin: 5px 0;
padding: 0;
width: 250px;
border: 1px solid #9A9A9A;
border-bottom-width: 0;
list-style-type: none;
list-style: none;
}

.glossymenu li a{
background: white url(media/glossyback.gif) repeat-x bottom left;
font: bold 13px "Lucida Grande", "Trebuchet MS", Verdana, Helvetica, sans-serif;
color: white;
display: block;
width: auto;
padding: 3px 0;
padding-left: 10px;
text-decoration: none;
list-style-type: none;
list-style: none;

}


* html .glossymenu li a{ /*IE only. Actual menu width minus left padding of A element (10px) */
background: white url(image_path("glossyback.gif")) repeat-x bottom left;
font: bold 13px "Lucida Grande", "Trebuchet MS", Verdana, Helvetica, sans-serif;
color: white;
display: block;
width: auto;
padding: 0px 0;
padding-left: 0px;
text-decoration: none;
}

.glossymenu li a:visited, .glossymenu li a:active{
color: white;
}

.glossymenu li a:hover{
background-image: url(image_path("glossyback2.gif"));
}

.LabelFormDiv {
display: none;
}

.foo {
    position: absolute;
    left: 110px;
    top: 10px;
}

html, body, div, canvas {
    margin: 0;
    padding: 0;
}

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#accordian-container {
  position: absolute;
  width: 200px;
}

#accordion .ui-accordion-content {
    font-size: 10pt;
}

#accordion .ui-accordion-content > * {
    margin: 0;
}

#accordion .ui-accordion-header {
    line-height: 10px;   //reduces height of the header box
    font-size: 8pt;
    text-indent: 10px;
}

accordion .ui-accordion-header h3 {
    font-size: 8pt;
}
