/* Prevent the text contents of draggable elements from being selectable. */
/* line 3, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/contextmenu_orig.scss */
[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
  cursor: move;
}

/* line 14, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/contextmenu_orig.scss */
#pagewrapper {
  min-height: 100%;
}

/* line 30, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/contextmenu_orig.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 38, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/contextmenu_orig.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 41, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/contextmenu_orig.scss */
section > .inner {
  margin: 0 auto;
  width: 1050px;
  max-width: 100%;
}

/* line 45, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/contextmenu_orig.scss */
section.dark {
  background-color: #29314b;
  color: #c0c4d3;
  background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9Ii0wLjA5NzA1OCIgeTE9IjAuMTgyNTM5IiB4Mj0iMS4wOTcwNTgiIHkyPSIwLjgxNzQ2MSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzBmMTQyNCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzI5MzE0YiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=="), #29314b;
  background: -moz-linear-gradient(332deg, #0f1424, #29314b), #29314b;
  background: -webkit-linear-gradient(332deg, #0f1424, #29314b), #29314b;
  background: linear-gradient(118deg, #0f1424, #29314b), #29314b;
}

/* line 52, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/contextmenu_orig.scss */
section.dark h3 {
  color: #fff;
}

/* line 54, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/contextmenu_orig.scss */
section.dark a.btn {
  color: #fff;
  background-color: #4585d8;
}

/* line 57, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/contextmenu_orig.scss */
section.dark a.btn:hover {
  background-color: #f5756c;
}

/* line 59, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/contextmenu_orig.scss */
section.dark a, section.dark a.btn.clear {
  color: #65a4f5;
  background-color: transparent;
}

/* line 62, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/contextmenu_orig.scss */
section.dark a:hover, section.dark a.btn.clear:hover {
  color: #fff;
}

/* line 64, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/contextmenu_orig.scss */
section.padding {
  padding-top: 140px;
}

/* line 66, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/contextmenu_orig.scss */
section .left, section .right {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}

/* line 72, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/contextmenu_orig.scss */
section .left {
  width: 64%;
  max-width: 100%;
}

/* line 75, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/contextmenu_orig.scss */
section .right {
  width: 36%;
  text-align: right;
}

/* line 78, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/contextmenu_orig.scss */
section .right img {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  vertical-align: middle;
}

/* line 85, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/contextmenu_orig.scss */
section .right img.two {
  margin-top: 20px;
}

/* line 87, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/contextmenu_orig.scss */
section .buttons {
  margin-top: 60px;
}

/* line 89, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/contextmenu_orig.scss */
section .buttons a.clear, section .buttons .more {
  margin-left: 10px;
  margin-right: 10px;
}

/* line 92, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/contextmenu_orig.scss */
section .buttons .more {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  padding: 14px 22px;
}

/* line 99, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/contextmenu_orig.scss */
section .buttons .more a {
  margin: 0 5px;
}

/* line 102, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/contextmenu_orig.scss */
.points {
  padding: 80px 0;
  width: 100%;
  background-color: #f5f6f8;
  background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ViZWZmOCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2Y1ZjZmOCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=="), #f5f6f8;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ebeff8), color-stop(100%, #f5f6f8)), #f5f6f8;
  background: -moz-linear-gradient(#ebeff8, #f5f6f8), #f5f6f8;
  background: -webkit-linear-gradient(#ebeff8, #f5f6f8), #f5f6f8;
  background: linear-gradient(#ebeff8, #f5f6f8), #f5f6f8;
}

/* line 111, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/contextmenu_orig.scss */
.points.top {
  border-top: 1px solid #e2e6eb;
}

/* line 113, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/contextmenu_orig.scss */
.points.bottom {
  border-bottom: 1px solid #e2e6eb;
}

/* line 115, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/contextmenu_orig.scss */
.points .inner {
  width: 1200px;
  padding-top: 0;
  padding-bottom: 0;
  text-align: center;
}

/* line 120, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/contextmenu_orig.scss */
.points .point {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  width: 24%;
  text-align: center;
  vertical-align: top;
}

/* line 129, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/contextmenu_orig.scss */
.points .point span {
  display: block;
  width: 120px;
  height: 120px;
  margin: 0 auto 27px auto;
  background-color: #fff;
  border: 1px solid #e2e6eb;
  background: white url(/assets/home_page_icons.png) no-repeat left top;
  -moz-border-radius: 34px;
  -webkit-border-radius: 34px;
  border-radius: 34px;
}

/* line 140, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/contextmenu_orig.scss */
.points .point h4 {
  color: #43464c;
  font-size: 12px;
  margin-bottom: 12px;
}

/* line 144, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/contextmenu_orig.scss */
.points .point p {
  color: #8e97a9;
  font-size: 12px;
  padding: 0 20px;
  max-width: 260px;
  margin: 0 auto;
}

/* line 151, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/contextmenu_orig.scss */
.points .point.setup span {
  background-position: left top;
}

/* line 153, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/contextmenu_orig.scss */
.points .point.wallet span {
  background-position: -123px -1px;
}

/* line 155, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/contextmenu_orig.scss */
.points .point.debit span {
  background-position: -245px -1px;
}

/* line 157, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/contextmenu_orig.scss */
.points .point.delivery span {
  background-position: -367px -1px;
}

/* line 159, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/contextmenu_orig.scss */
.points .point.recurring span {
  background-position: -1px -123px;
}

/* line 161, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/contextmenu_orig.scss */
.points .point.onetime span {
  background-position: -123px -123px;
}

/* line 163, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/contextmenu_orig.scss */
.points .point.preorder span {
  background-position: -245px -123px;
}

/* line 165, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/contextmenu_orig.scss */
.points .point.invoices span {
  background-position: -367px -123px;
}

/* line 167, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/contextmenu_orig.scss */
.points .point.reports span {
  background-position: -1px -245px;
}

/* line 169, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/contextmenu_orig.scss */
.points .point.receipts span {
  background-position: -123px -245px;
}

/* line 171, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/contextmenu_orig.scss */
.points .point.terminal span {
  background-position: -245px -245px;
}

/* line 173, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/contextmenu_orig.scss */
.points .point.ssl span {
  background-position: -367px -245px;
}

/* line 175, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/contextmenu_orig.scss */
.points .point.coupons span {
  background-position: -1px -367px;
}

/* line 177, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/contextmenu_orig.scss */
.points .point.export span {
  background-position: -123px -367px;
}

/* line 179, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/contextmenu_orig.scss */
.points .point.member span {
  background-position: -245px -367px;
}

/* line 181, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/contextmenu_orig.scss */
.points .point.analytics span {
  background-position: -367px -367px;
}

/* line 184, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/contextmenu_orig.scss */
section {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 192, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/contextmenu_orig.scss */
body {
  margin: 0;
  font-size: 15px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

/* line 200, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/contextmenu_orig.scss */
body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 14px;
  height: 100%;
}

/* line 207, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/contextmenu_orig.scss */
#page-container {
  position: relative;
  top: 40px;
  height: 1800px;
  width: 100%;
}

/* line 214, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/contextmenu_orig.scss */
#accordian-canvas-wrapper {
  position: relative;
  padding-top: 10px;
  height: 1000px;
  width: 100%;
}

/* line 221, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/contextmenu_orig.scss */
#canvas-container {
  position: absolute;
  width: 1000px;
  height: 800px;
  box-shadow: 0 0 5px 1px black;
  margin: 10px auto;
  border: 5px solid transparent;
}

/* line 229, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/contextmenu_orig.scss */
#canvas-container.over {
  border: 5px dashed cyan;
}

/* line 232, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/contextmenu_orig.scss */
#images img.img_dragging {
  opacity: 0.4;
}

/* line 236, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/contextmenu_orig.scss */
#menubar {
  position: relative;
  padding-top: 10px;
}

/* line 241, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/contextmenu_orig.scss */
.hide {
  display: none;
}

/* line 245, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/contextmenu_orig.scss */
textarea {
  resize: none;
  font-family: Consolas, Courier New, monospace;
  font-size: 14px;
}

/* line 251, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/contextmenu_orig.scss */
div.padded {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

/* line 258, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/contextmenu_orig.scss */
.show {
  display: inline;
}

/* line 262, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/contextmenu_orig.scss */
.glossymenu {
  position: absolute;
}

/* line 266, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/contextmenu_orig.scss */
.glossymenu ul {
  position: absolute;
  list-style-type: none;
  margin: 5px 0;
  padding: 0;
  width: 250px;
  border: 1px solid #9A9A9A;
  border-bottom-width: 0;
  list-style-type: none;
  list-style: none;
}

/* line 278, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/contextmenu_orig.scss */
.glossymenu li a {
  background: white url(media/glossyback.gif) repeat-x bottom left;
  font: bold 13px "Lucida Grande", "Trebuchet MS", Verdana, Helvetica, sans-serif;
  color: white;
  display: block;
  width: auto;
  padding: 3px 0;
  padding-left: 10px;
  text-decoration: none;
  list-style-type: none;
  list-style: none;
}

/* line 293, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/contextmenu_orig.scss */
* html .glossymenu li a {
  /*IE only. Actual menu width minus left padding of A element (10px) */
  background: white url("/assets/glossyback.gif") repeat-x bottom left;
  font: bold 13px "Lucida Grande", "Trebuchet MS", Verdana, Helvetica, sans-serif;
  color: white;
  display: block;
  width: auto;
  padding: 0px 0;
  padding-left: 0px;
  text-decoration: none;
}

/* line 304, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/contextmenu_orig.scss */
.glossymenu li a:visited, .glossymenu li a:active {
  color: white;
}

/* line 308, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/contextmenu_orig.scss */
.glossymenu li a:hover {
  background-image: url("/assets/glossyback2.gif");
}

/* line 312, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/contextmenu_orig.scss */
.LabelFormDiv {
  display: none;
}

/* line 316, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/contextmenu_orig.scss */
.foo {
  position: absolute;
  left: 110px;
  top: 10px;
}

/* line 322, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/contextmenu_orig.scss */
html, body, div, canvas {
  margin: 0;
  padding: 0;
}

/* line 327, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/contextmenu_orig.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 333, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/contextmenu_orig.scss */
#accordian-container {
  position: absolute;
  width: 200px;
}

/* line 338, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/contextmenu_orig.scss */
#accordion .ui-accordion-content {
  font-size: 10pt;
}

/* line 342, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/contextmenu_orig.scss */
#accordion .ui-accordion-content > * {
  margin: 0;
}

/* line 346, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/contextmenu_orig.scss */
#accordion .ui-accordion-header {
  line-height: 10px;
  font-size: 8pt;
  text-indent: 10px;
}

/* line 352, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/contextmenu_orig.scss */
accordion .ui-accordion-header h3 {
  font-size: 8pt;
}

/*
.modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
  opacity:1;
  display:none;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: auto;
}

.modalDialog > div {
	width: 400px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
}

.closeDialog, .closeDialog:visited {
	background-color: white;
	color: #000000;
  opacity: 1.0;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

.closeDialog:hover { background: #00d9ff; }
*/
