/* line 1, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/spinner.css.scss */
.spinner {
  margin: 100px auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}

/* line 9, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/spinner.css.scss */
.spinner > div {
  background-color: #333;
  height: 100%;
  width: 6px;
  display: inline-block;
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}
