/* line 1, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/spinner.css.scss */
.spinner {
  margin: 100px auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}

/* line 9, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/spinner.css.scss */
.spinner > div {
  background-color: #333;
  height: 100%;
  width: 6px;
  display: inline-block;
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

/* line 19, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/spinner.css.scss */
.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

/* line 24, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/spinner.css.scss */
.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

/* line 29, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/spinner.css.scss */
.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

/* line 34, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/spinner.css.scss */
.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  /* line 40, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/spinner.css.scss */
  0%, 40%, 100% {
    -webkit-transform: scaleY(0.4);
  }

  /* line 41, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/spinner.css.scss */
  20% {
    -webkit-transform: scaleY(1);
  }
}

@keyframes sk-stretchdelay {
  /* line 45, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/spinner.css.scss */
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }

  /* line 48, C:/Users/sferenci/jruby-getting-started/app/assets/stylesheets/spinner.css.scss */
  20% {
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
  }
}
