%div{:class=>"container"}
   %div
      %div
         %ol{:class=>"breadcrumb"}
            %li
               = link_to company_user_path(session[:company_id] ,session[:user_id]) do
                  Home
            %li Switch User
%div{:class=>"container"}
   %div{:class=>"row row-content-no-padding"}
      %div
         %table{:class=>"table table-bordered table-hover"}
            %thead
               %tr
                  %td Users
                  %td{:class=>"hidden-sm hidden-xs", :colspan=>'4'}
               %tr
                  %th= sortable "users.email", "email"
                  %th Switch
                  %th{:colspan=>"3"}
            %tbody
               -@users.each do |user|
                  %tr
                     %td= user.email
                     %td
                        =link_to company_user_switchuser_path(user.company_id ,user.id) do
                           %i{:class=>"fa fa-user"}
                     %td{:colspan=>"3"}
         =will_paginate @users
