%header{:class=>"jumbotron"}
   <!-- Main component for a primary marketing message or call to action -->
   %div{:id=>"main", :class=>"container"}
      %div{:class=>"row row-header"}
         %div{:class=>"col-xs-12 col-sm-5"}
            =image_tag "Logo4_blue_front.gif"
            %p{:style=>"padding:10px;"}
            %div{:class=>"col-sm-offset-1"}
            = form_for(resource, as: resource_name, url: password_path(resource_name),:html => {method: :post}) do |f|
               %fieldset.form-group
                  =f.label "Provide Email Address"
                  =f.email_field :email, autofocus: true, :class=>"form-control"
               %div.form-group
                  = f.submit "Send me reset password instructions", :class=>"btn btn-default"
            = render "devise/shared/links"
