%div{:id=>'wrappermain'}
   %section.bg-primary{:id=>"login"}
      %div{:id=>"main",:class=>"container"}
         %div{:class=>"row row-centered"}
            -# %div{:class=>"col-sm-6"}
            -#    =image_tag "Logo4_blue_front.gif"
            -#   %p{:style=>"padding:10px;"}
            %div{:class=>"col-sm-offset-4 col-sm-4"}
               = form_for(resource, as: resource_name, url: password_path(resource_name),:html => {method: :post}) do |f|
                  %fieldset.form-group
                     =f.label t('.provide_email_address')
                     =f.email_field :email, autofocus: true, :class=>"form-control"
                  %div.form-group
                     = f.submit t('.send_reset_instructions'), :class=>"btn btn-default"
               %hr.light
               =render "devise/shared/links"
