%nav{:class=>'navbar navbar-inverse navbar-fixed-top', :role=>'navigation'}
   %div{:class=>"container"}
      %div{:class=>"navbar-header"}
         %button{"type"=>"button",:class=>"navbar-toggle", "data-toggle"=>"collapse", "data-target"=>"#starterNavbar"}
            %span{:class=>"icon-bar"}
            %span{:class=>"icon-bar"}
            %span{:class=>"icon-bar"}
         %a{:class=>"navbar-brand", :href=>'/'}Optecture
      %div{:id=>"starterNavbar", :class=>"navbar-collapse collapse"}
         %ul{:class=>"nav navbar-nav"}
            %li{:class=>"active"}
               %a{:href=>"/"}
                  %span{:class=>"glyphicon glyphicon-home", "aria-hidden" =>"true"}
                  Home
            %li
               %a{:href=>'#blackwhite'}
                  %span Products
            %li
               %a{:href=>'#sepia'}
                  %span Company
            %li
               %a{:href=>'/contact.html'}
                  %span Contact
         %ul{:class=>"nav navbar-nav navbar-right"}
            - if current_user
               %li
                  =link_to company_user_path(session[:company_id] ,session[:user_id]) do
                     %span{:class=>"fa fa-user","aria-hidden"=>"true"}
                     #{current_user.email}
               %li
                  =link_to signout_path, :class => 'last' do
                     %span{:class=>"fa fa-sign-out","aria-hidden"=>"true"}
                     Sign out
