%nav{:class=>'navbar navbar-inverse navbar-fixed-top', :role=>'navigation'}
   %div{:class=>"container-fluid"}
      %div{:class=>"navbar-header"}
         %button{"type"=>"button",:class=>"navbar-toggle", "data-toggle"=>"collapse", "data-target"=>"#operationalNavbar"}
            %span{:class=>"icon-bar"}
            %span{:class=>"icon-bar"}
            %span{:class=>"icon-bar"}
         %a{:class=>"pull-left", :href=>'/', :style=>"PADDING-right: 15px"}
            =image_tag 'Logo_no_text_sm.gif', :width=>"50", :height => "49"
      %div{:id=>"operationalNavbar", :class=>"collapse navbar-collapse"}
         %ul{:class=>"nav navbar-nav"}
            - if (session[:company_id]!= nil) & (session[:user_id] != nil)
               %li
                  = link_to company_user_path(session[:company_id] ,session[:user_id]) do
                     %span{:class=>"glyphicon glyphicon-home"}
                     Home
         - if current_user
            %ul{:class=>"nav navbar-nav navbar-right"}
               %li
                  %span{:class=>"navbar-text",:style=>"color:white"} #{current_user.email}
               %li{:class=>'align-right'}
                  =link_to signout_path, :class => 'last' do
                     %span{:class=>"fa fa-sign-out","aria-hidden"=>"true"}
                     Sign out
