%div{:id=>'cssmenu'}
   %div{:style=>"background-image:url('/assets/unsplash_trees_cropped.jpg'); background-repeat:repeat-x;width:100%;height:150px;border:0px solid black;padding:0px;"}
   %center
      %ul
         %li{:class=>'active'}
            %a{:href=>'/'}
               %span{:class=>"glyphicon glyphicon-home", :aria-hidden=>"true"}
                  Home
         %li
            %a{:href=>'#blackwhite'}
               %span Products
         %li
            %a{:href=>'#sepia'}
               %span Company
         %li
            %a{:href=>'/contact.html'}
               %span Contact
         -if current_user
            %li
               =link_to company_user_path(session[:company_id] ,session[:user_id]) do
                  %span User Page
         - if user_signed_in?
            %li{:class=>'align-right'}
               =link_to destroy_user_session_path, :method => :delete, :class => 'last' do
                  %span #{current_user.email} Sign out
         - else
            %li
               =link_to "/auth/google_oauth2", id: "sign_in", :class => 'last' do
                  %span Sign in with Google
            %li
               =link_to "/auth/linkedin", id: "sign_in", :class => 'last' do
                  %span Sign in with LinkedIn
