%div{:id=>'cssmenu'}
   %div{:style=>"background-image:url('/assets/unsplash_trees_cropped.jpg'); background-repeat:repeat-x;width:100%;height:150px;border:0px solid black;padding:0px;"}
   %center
      %ul
         %li{:class=>'active'}
            %a{:href=>'/'}
               %span Home
         %li
            %a{:href=>'#'}
               %span Products
         %li
            %a{:href=>'#'}
               %span Company
         %li
            %a{:href=>'/contact.html'}
               %span Contact
         %li
            - if current_user
               =link_to signout_path, :class => 'last' do
                  %span Sign out
            - else
               =link_to "/auth/google_oauth2", id: "sign_in", :class => 'last' do
                  %span Sign in with Google
