%iframe{:id=>"logoutframe", :src=>"https://accounts.google.com/logout",:style=>"display: none"}
%div#color
%div#sepia
%div#blackwhite
%div#page-container
   %div{:style=>"border-radius: 25px;   background: #2A88AD; padding: 20px;  width: 700px; height: 150px; "}
      %h1 Welcome to the app, using haml
      This app is all about making the most of your sales engineers

:javascript
   $(document).ready(function(){
                $(".color").click(function(){
                    if ($("#color").is(":hidden")){
                        $("#color").slideDown("fast");
                    }
                    else{
                        $("#color").slideUp("fast");
                    }
                });
            });
            function closeForm(){
                $("#messageSent").show("fast");
                setTimeout('$("#messageSent").hide();$("#color").slideUp("slow")', 2000);
           }

   $(document).ready(function() {
     function filterPath(string) {
       return string
         .replace(/^\//,'')
         .replace(/(index|default).[a-zA-Z]{3,4}$/,'')
         .replace(/\/$/,'');
     }
     $('a[href*=#]').each(function() {
       if ( filterPath(location.pathname) == filterPath(this.pathname)
       && location.hostname == this.hostname
       && this.hash.replace(/#/,'') ) {
         var $targetId = $(this.hash), $targetAnchor = $('[name=' + this.hash.slice(1) +']');
         var $target = $targetId.length ? $targetId : $targetAnchor.length ? $targetAnchor : false;
          if ($target) {
            var targetOffset = $target.offset().top;
            $(this).click(function() {
              $('html, body').animate({scrollTop: targetOffset}, 1000);
              var d = document.createElement("div");
           d.style.height = "101%";
           d.style.overflow = "hidden";
           document.body.appendChild(d);
           window.scrollTo(0,scrollToM);
           setTimeout(function() {
           d.parentNode.removeChild(d);
               }, 10);
              return false;
            });
         }
       }
     });
   });
   /*! Smooth Scroll - v1.4.5 - 2012-07-22
   * Copyright (c) 2012 Karl Swedberg; Licensed MIT, GPL */
