%iframe{:id=>"logoutframe", :src=>"https://accounts.google.com/logout",:style=>"display: none"}
%header{:class=>"jumbotron"}
   <!-- Main component for a primary marketing message or call to action -->
   %div{:class=>"container"}
      %div{:class=>"row row-header"}
         %div{:class=>"col-xs-12 col-sm-5"}
            =image_tag "Logo3_blue_front.gif"
            %p{:style=>"padding:10px;"}
            %p Draw It, Plan It, Sell It
            =link_to "/auth/linkedin", id: "sign_in", :class => 'btn btn-block btn-social btn-linkedin' do
               %span{:class=>"fa fa-linkedin"}
               Sign in with LinkedIn
            =link_to "/auth/google_oauth2", id: "sign_in", :class => 'btn btn-block btn-social btn-google' do
               %span{:id=>"googlebutton", :class=>"fa fa-google-plus"}
               Sign in with Google
