%iframe{:id=>"logoutframe", :src=>"https://accounts.google.com/logout",:style=>"display: none"}
%section#hero
   %div#hero_bg
   %h2 Sales Diagrams Made Simple
   %div{:class=>"desc"}
      %p SalesSketch allows your sales force to quickly capture requirements. Document the need, make the sale, create a customer.
   %nav
      %a{:href=>'/contact.html', :class=>'button'} Contact Us
      %a#learnmore{:href=>'#features'} Learn More
%section{:class=>"points"}
   %a{:name=>"features"}
   %div{:class=>"inner"}
      %div{:class=>"point shop"}
         %span
         %h4 Setup Shop
         %p Sell products and/or subscriptions without writing any code at all.
      %div{:class=>"point wallet"}
         %span
         %h4  Digital Wallet
         %p Securely store your credit cards to use for purchases.
      %div{:class=>"point debit"}
         %span
         %h4 Physical Goods
         %p Send shipment notifications to your customers with one click.
      %div{:class=>"point delivery"}
         %span
         %h4 Digital Delivery
         %p Sell your digital goods and files. Ebooks, videos, music, etc.

:javascript
   document.addEventListener("touchstart", function(){}, true);

      if(window.devicePixelRatio >= 1.2) {
        var retinas = document.getElementsByTagName('img');
        for(var i=0;i < retinas.length;i++){
          var src = retinas[i].src;
          retinas[i].src = src.substr(0, src.lastIndexOf(".")) + "@2x" + src.substr(src.lastIndexOf("."));
        }
      }

      function scroller(num){
         var st = document.body.scrollTop,
             c = 0;
          for(var i=st;i<num;i++){
             setTimeout('window.scrollTo(0,'+ i +')',c);
             c++;
             i = i + 1;
          }
      }

      document.getElementById('learnmore').onclick = function(e){
          scroller(document.getElementById('hero').offsetHeight - 70);
          e.preventDefault();
      };

      document.getElementById('view_pricing').onclick = function(e){
         var offtop = document.getElementById('pricing').offsetTop;
         if(offtop){
            scroller(offtop - 70);
            e.preventDefault();
         }
      };

      var hero_hi = new Image();
      hero_hi.src = 'https://plasso.co/images/hero-hi.jpg';
      hero_hi.onload = function(){
        document.getElementById('hero_bg').style.backgroundImage = 'url(https://plasso.co/images/hero-hi.jpg)';
      };

      if(document.location.toString().indexOf('?features') != -1){
         window.scrollTo(0,(document.getElementById('hero').offsetHeight - 72));
      }

      if(typeof window.orientation == 'undefined'){
         var hero_elem = document.getElementById('hero_bg');
         window.onscroll = function(){
         var y = (window.pageYOffset !== undefined) ? window.pageYOffset : (document.documentElement || document.body.parentNode || document.body).scrollTop;
         if(y < 800){
            var translate = 'translate3d(0,'+(y * 0.4) +'px,0)';
            hero_elem.style.WebkitTransform = translate;
            hero_elem.style.MozTransform = translate;
            hero_elem.style.msTransform = translate;
            hero_elem.style.OTransform = translate;
            hero_elem.style.transform = translate;
         }
        };
       }
       !function(s,q,u,a,r,e){e=function(){s=q.createElement(u);u=q.getElementsByTagName(u)[0];s.src='//d1l6p2sc9645hc.cloudfront.net/tracker.js';u.parentNode.insertBefore(s,u)};a=s[a]=s[a]||function(){(a.q=a.q||[]).push(arguments)};s[r]?s[r]('load',e,!1):s.attachEvent('onload',e);}(window,document,'script','_gs','addEventListener');
       _gs('GSN-002248-V');
