development:
   config.paperclip_defaults = {
   :storage => :s3,
   :url => "https://s3-us-west-1.amazonaws.com/",
   :s3_credentials => {
     :bucket => ENV['S3_BUCKET_NAME'],
     :access_key_id => ENV['AWS_ACCESS_KEY_ID'],
     :secret_access_key => ENV['AWS_SECRET_ACCESS_KEY'],
     :s3_region => ENV['s3_region']
   }
   }

production:
   config.paperclip_defaults = {
   :storage => :s3,
   :url => "https://s3-us-west-1.amazonaws.com/",
   :s3_credentials => {
     :bucket => ENV['S3_BUCKET_NAME'],
     :access_key_id => ENV['AWS_ACCESS_KEY_ID'],
     :secret_access_key => ENV['AWS_SECRET_ACCESS_KEY'],
     :s3_region => ENV['s3_region']
   }
   }
