function modernizerFunction(Mod, doc ) {
  log.info( "Entering  modernizerFunction");
  if (Mod.draganddrop) {
     // Browser supports HTML5 DnD.
     // Bind the event listeners for the image elements
     var images = doc.querySelectorAll('#images img');
     [].forEach.call(images, function (img) {
        img.addEventListener('dragstart', handleDragStart, false);
        img.addEventListener('dragend', handleDragEnd, false);
     });
     // Bind the event listeners for the canvas
     var canvasContainer = doc.getElementById('canvas-container');
     canvasContainer.addEventListener('dragenter', handleDragEnter, false);
     canvasContainer.addEventListener('dragover', handleDragOver, false);
     canvasContainer.addEventListener('dragleave', handleDragLeave, false);
     canvasContainer.addEventListener('drop', handleDrop, false);
  } else {
    // Replace with a fallback to a library solution.
    alert("This browser doesn't support the HTML5 Drag and Drop API.");
  }
  log.info( "Leaving  modernizerFunction");
};

// Returns a function, that, as long as it continues to be invoked, will not
// be triggered. The function will be called after it stops being called for
// N milliseconds. If `immediate` is passed, trigger the function on the
// leading edge, instead of the trailing.
function debounce(func, wait, immediate) {
	var timeout;
	return function() {
		var context = this, args = arguments;
		var later = function() {
			timeout = null;
			if (!immediate) func.apply(context, args);
		};
		var callNow = immediate && !timeout;
		clearTimeout(timeout);
		timeout = setTimeout(later, wait);
		if (callNow) func.apply(context, args);
	};
};

function GetDebugParameter(sParam){
    log.info( "Entering  GetDebugParameter");
    var sPageURL = window.location.hash;
    log.debug("sPageURL:");
    log.debug( sPageURL);
    sPageURL = sPageURL.split("?");
    if (sPageURL.length > 1) {
       var sURLVariables = sPageURL[1].split('&');
       log.debug("sURLVariables:");
       log.debug( sURLVariables);
       for (var i = 0; i < sURLVariables.length; i++)
       {
          var sParameterName = sURLVariables[i].split('=');
          log.debug("sParameterName:")
          log.debug(sParameterName);
          if (sParameterName[0] == sParam)
          {
            log.debug("sParameterName[1]:")
            log.debug(sParameterName[1]);
            log.info( "Leaving GetDebugParameter");
            return sParameterName[1];
          }
       }
    } else {
      log.info( "Leaving GetDebugParameter returning false");
      return false;
    }
};

function objectBoundaryCheck(e){
  log.info( "Entering  objectBoundaryCheck");
  $("#saveMessage").text('Changes Made, Save Pending...');
  e.target.setCoords();
  log.debug( "Checking to see if the end points of a line are being dragged ");
  if (e.target.type != "circle0" && e.target.type != "circle1") {
     var obj = e.target;
     var posBottom = e.target.getBoundingRect().top + e.target.getBoundingRect().height;
     var posRight = e.target.getBoundingRect().left + e.target.getBoundingRect().width;
     var boundRect = obj.getBoundingRect();
     var x1Delta = -(boundRect.left - obj.left)
     var y1Delta = -(boundRect.top - obj.top)
     bounds = {tl: {x: 0, y: 0}, br: {x: canvas.width , y: canvas.height } };


     // top-left  corner
     log.debug( "Checking to see if we hit the top-left corner");
     if((e.target.getBoundingRect().top <= bounds.tl.y || e.target.getBoundingRect().left <= bounds.tl.x) ){
       log.debug( "hit the top-left corner");
       e.target.setTop(Math.max(e.target.top  , y1Delta  ));
       e.target.left = Math.max(e.target.left , x1Delta );
       e.target.setCoords();
       canvas.renderAll();
     }

     // bot-right corner
     log.debug( "Checking to see if we hit the bot-right corner");
     if((posBottom >= bounds.br.y || posRight >= bounds.br.x )){
        if (posBottom >= bounds.br.y) {
           if (e.target.angle >= 270 && e.target.angle < 360) {
              e.target.top = bounds.br.y -  e.target.getBoundingRect().height + y1Delta;
           } else if (e.target.angle >= 90 && e.target.angle <= 180){
              e.target.top = bounds.br.y -  e.target.getBoundingRect().height + y1Delta
              log.debug("Calculated Top: " + (bounds.br.y -  e.target.getBoundingRect().height + y1Delta))
           } else if (e.target.angle > 180 && e.target.angle < 270){
              e.target.top = bounds.br.y -  e.target.getBoundingRect().height +y1Delta
           } else if (e.target.angle >= 0 && e.target.angle < 90){
              e.target.top = bounds.br.y -  e.target.getBoundingRect().height +y1Delta ;
           }
        }
        if (posRight >= bounds.br.x) {
           if (e.target.angle >= 270 && e.target.angle < 360) {
              e.target.left = bounds.br.x -  e.target.getBoundingRect().width;
           } else if (e.target.angle >= 90 && e.target.angle <= 180){
              e.target.left = bounds.br.x
           } else if (e.target.angle > 180 && e.target.angle < 270){
              e.target.left = bounds.br.x -  e.target.getBoundingRect().width +x1Delta
           } else if (e.target.angle >= 0 && e.target.angle < 90){
              e.target.left = bounds.br.x -  e.target.getBoundingRect().width +x1Delta ;
           }
        }
        obj.setCoords();
    }
  } else {
    boundaryInspectorCircle(e)
  }
  onSave();
  log.info( "Leaving objectBoundaryCheck");
};

function textChangedEvent(e) {
  $("#saveMessage").text('Changes Made, Save Pending...');
  log.debug('text:changed', e.target, e);
  onSave();
};

function boundaryInspectorCircle(e) {
   log.info( "Entering boundaryInspectorCircle");
   e.target.setCoords()
   var p = e.target;
   bounds = {tl: {x: 0, y:0}, br: {x: canvas.width , y: canvas.height } };
   if(p.type == 'circle1' || p.type == 'circle0') {
      if(p.top < bounds.tl.y || p.left < bounds.tl.x) {
         e.target.setTop(Math.max('0', e.target.top))
         e.target.left = Math.max('0', e.target.left)
      }  else if ((p.top + 2*p.radius) > bounds.br.y || (p.left + 2*p.radius) > bounds.br.x ) {
         e.target.setTop(Math.min(bounds.br.y, e.target.top + 2*p.radius ))
         e.target.left = Math.min(bounds.br.x, e.target.left + 2*p.radius)
      }
      if (p.type == "circle1")  {
         p.line && p.line.set({ 'x1': p.line.c1.left, 'y1': p.line.c1.top, 'x2': p.left, 'y2': p.top });
      } else {
         p.line && p.line.set({ 'x1': p.left, 'y1': p.top, 'x2': p.line.c2.left, 'y2': p.line.c2.top });
      }

      p.line.setCoords();
      e.target.setCoords();
      canvas.renderAll();
   }
   log.info( "Leaving boundaryInspectorCircle");
};

function objectResize(e) {
   log.info( "Entering objectResize");
   if(e.target.type == "circle") {
      newWidth = e.target.width * e.target.scaleX
      newRadius = e.target.radius * e.target.scaleX
      e.target.set({ width: newWidth, radius: newRadius, height: newWidth, scaleX: 1, scaleY: 1, });
   } else if(e.target.type == "ellipse") {
      newWidth = e.target.width * e.target.scaleX
      newHeight = e.target.height * e.target.scaleY
      newRadiusX = newWidth/2
      newRadiusY = newHeight/2
      e.target.set({ rx: newRadiusX, ry: newRadiusY, scaleX: 1, scaleY: 1, });
   } else if(e.target.type == "rect") {
      newWidth = e.target.width * e.target.scaleX;
      newHeight = e.target.height * e.target.scaleY;
      e.target.set({ height: newHeight, width: newWidth, scaleX: 1, scaleY: 1, });
   }
   objectBoundaryCheck(e)
   log.info( "Leaving objectResize");
};

function selectionCleared(e)  {
   log.info( "Entering selectionCleared");
   lineActive = true
   lineSelected = false
   log.debug( "lineActive: ", lineActive);
   log.debug( "lineSelected: ", lineSelected);
   log.info( "Leaving selectionCleared");
};

function mouseDown(e)  {
    log.info( "Entering mouseDown");
    $('#glossymenu').remove();
    log.debug( "contextmenuon: ", contextmenuon);
    log.info( "Leaving mouseDown");
};

function objectSelected(e) {
   log.info( "Entering objectSelected");
   activeObject = true;
   activeObjectVal = e.target;
   var objType = e.target.get('type');
   log.trace( "activeObject: ", activeObject);
   log.trace( "activeObjectVal: ", activeObjectVal);
   if (e.target.type == "line") {
      log.debug( "Line Selected ");
      newGroup = new fabric.Group();
      newGroup.addWithUpdate(e.target.c1)
      newGroup.addWithUpdate(e.target.c2)
      newGroup.addWithUpdate(e.target)
      newGroup.type = "lineGroup"
      newGroup.hasControls = false;
      newGroup.id = itemId
      itemId = itemId + 1;
      canvas.add(newGroup)
      e.target.c1.remove();
      e.target.c2.remove();
      e.target.remove();
      newGroup.on("mousedown", function(data, index) { lineDown(data,index); });
   }
   lineSelected = true;
   log.info( "Leaving objectSelected");
};

function mouseOut(e) {
   log.info( "Entering mouseOut");
   contextmenuon = true;
   e.target.setOpacity(1);
   log.trace("Viewing target in mouseOut")
   log.trace(e.target)
   log.debug("Rendering All")
   canvas.renderAll();
   log.debug("Done Rendering All")
   if (e.target.type == "lineGroup" && lineActive) {
      var items = e.target._objects;
      e.target._restoreObjectsState();
      searchId = getItemIndex(e.target)
      canvas.setActiveObject(canvas.item(searchId))
      if(canvas.getActiveGroup()){
         canvas.getActiveGroup().forEachObject(function(o){ canvas.remove(o) });
         canvas.discardActiveGroup().renderAll();
      } else {
         canvas.remove(canvas.getActiveObject());
      }
      for(var i = 0; i < items.length; i++) {
         items[i].hasBorders = items[i].hasControls = false
         canvas.add(items[i]);
      }
      items[2].c1 = items[0]
      items[2].c2 = items[1]
      items[0].bringToFront();
      items[1].bringToFront();
      items[2].sendBackwards();
      canvas.renderAll();
      items[2].on("mousedown", function(data, index) { lineDown(data,index); });
   }
   log.info( "Leaving mouseOut");
};

function mouseOver(e) {
  log.info( "Entering mouseOver");
  //log.debug( "Set Opacity to 0.5");
  contextmenuon = false;
  //e.target.setOpacity(0.5);
  activeObjectVal = e.target
  if (e.target.type) {
       if (e.target.type == "line") {
         log.debug( "Target is line");
         searchId = getItemIndex(e.target);
         log.trace( e.target);
         canvas.setActiveObject(canvas.item(searchId))
       }
   }
   log.info( "Leaving mouseOver");
};

function postProcessLoading(o, object) {
  log.info( "Entering postProcessLoading");
  if (object.type == "custom-image") {
    log.debug( "Processing custom-image");
    object.on("mousedown", function(data, index) { imageDown(data,index)   });
  }
  if (object.type == "circle") {
    log.debug( "Processing circle");
    object.fill = undefined
    object.on("mousedown", function(data, index) { circleDown(data,index)   });
  }

  if (object.type == "ellipse") {
    log.debug( "Processing ellipse");
    object.fill = undefined
    object.on("mousedown", function(data, index) { ellipseDown(data,index)   });
  }

  if (object.type == "rect") {
    log.debug( "Processing rect");
    object.fill = undefined
    object.on("mousedown", function(data, index) { rectangleDown(data,index)   });
  }

  if (object.type == "line") {
    log.debug( "Processing line");
    object.objId = objId_var;
    object.on("mousedown", function(data, index) { lineDown(data,index); });
  }
  if (object.type == "i-text") {
    log.debug( "Processing i-text");
    object.on("mousedown", function(data, index) { textDown(data,index)   });
  }
  log.info( "Leaving postProcessLoading");

};

function checkBackgroundFileExists( link ) {
  log.info("Entering checkBackgroundFileExists")
  log.debug(link);
  $.ajax({
    url:link,
    type:'HEAD',
    error: function()
    {
        log.debug("In Error Function checkBackgroundFileExists");
        log.debug("Background File Not Found")
        return false;
    },
    success: function()
    {
        log.debug("In success Function checkBackgroundFileExists")
        log.debug("Background File Exists")
        return true;
    }
  });
  log.info("Leaving checkBackgroundFileExists")
}

var onSave  =  debounce(function() {
    log.info( "Entering onSave");
    // Remove circle0 and circle1 from image
    //$(".spinner").show();
    $(".saveMessage").text('Save In Progress...');
    objects = canvas.getObjects();

    var len = objects.length;
    log.debug( "Number of objects to process: ", len);
    for (index=len -1; index > -1; index--) {
      if (objects[index].type == "lineGroup") {
         log.debug( "Processing a line object");
         var items = objects[index]._objects;
         objects[index]._restoreObjectsState();
         canvas.remove(objects[index]);
         canvas.add(items[2])
      }

      if (objects[index].type == "circle0" || objects[index].type == "circle1") {
         log.debug( "Removing circles associated with a line group");
         canvas.remove(objects[index]);
      }
    }
    var token = $('meta[name="csrf-token"]').attr('content');
    canvas.backgroundColor = '#FFFFFF';
    activeInstance = canvas.getActiveObject();
    activeGroupInstance = canvas.getActiveGroup();
    tempId = 0;
    if (activeInstance!=null){
        tempId = activeInstance.id
        console.log("ID: ", tempId)
        console.log(activeInstance)
        canvas.deactivateAll();

    }
    tempIdArray = new Array(0);
    if (activeGroupInstance!=null){
        objs = activeGroupInstance.getObjects();
        for (index = 0; index < objs.length; index++) {
          tempIdArray.push(objs[index].id)
        }
        canvas.deactivateAll();
    }
    var png_file = canvas.toDataURL('png');

    objects = canvas.getObjects();
    var len = objects.length;
    log.debug( "Number of objects to process: ", len);
    if (activeInstance!=null){
      //for (index=len -1; index > -1; index--) {
      notFound = true;
      index = len -1
      while(index > -1 && notFound == true) {
         if (objects[index].id == tempId) {
            notFound = false
            canvas.setActiveObject(canvas.item(index));
         }
         index = index -1
      }
    }
    if (activeGroupInstance!=null){
      var objs = activeGroupInstance.getObjects().map(function(o) {
		     return o.set('active', true);
	    });

	    var group = new fabric.Group(objs, {
		    originX: 'center',
		    originY: 'center'
	    });

	    canvas._activeObject = null;

	    canvas.setActiveGroup(group.setCoords()).renderAll();
    }
    //var png_file = "";
    canvas.backgroundColor = "";

    var json_data = { company_id: company_id,
                   user_id:  user_id,
                   id: drawing_id,
                   authenticity_token: token,
                   png: png_file,
                   drawing: canvas  }
    log.trace(json_data)
    var json_url = "/companies/" + company_id + "/users/" + user_id + "/drawings/" + drawing_id +".json"
    $.ajax({
            url: json_url, // Route to the Script Controller method
           type: "patch",
       dataType: "json",
    contentType: "application/json",
           data: JSON.stringify(json_data), // This goes to Controller in params hash, i.e. params[:file_name]
        timeout: 3000, // sets timeout to 3 seconds
       complete: function() {
                   //$(".spinner").fadeOut( 400 );
                   $("#saveMessage").text('Current');
                 },
        success: function(data, textStatus, xhr) {
                   $("#saveMessage").text('Current');
                 },
          error: function(data, textStatus) {
                 //alert(textStatus);
                   msg = "Error: " + textStatus;
                   $("#saveMessage").text(msg);
                 }
      });
     canvas.renderAll();
     log.info( "Leaving onSave");
}, 3000);

function handleDragStart(e) {
 log.info( "Entering handleDragStart");
 [].forEach.call(images, function (img) {
   img.classList.remove('img_dragging');
 });
 this.classList.add('img_dragging');
 log.info( "Leaving handleDragStart");
}

function makeLine(coords, id) {
   log.info( "Entering makeLine");
   return new fabric.Line(coords, {
     fill: 'red',
     stroke: 'red',
     strokeWidth: 5,
     selectable: true,
     objId: id,
     perPixelTargetFind: true,
   });
   log.info( "Leaving makeLine");
 }

 function makeCircleShape(coords, id) {
   log.info( "Entering makeCircleShape");
   return new fabric.Circle({ top: coords[1],
                              left: coords[0],
                              radius: 15,
                              fill : undefined,
                              stroke : 'red',
                              lockUniScaling: true,
                              hasRotatingPoint : false,
                              strokeWidth : 5 })
   log.info( "Leaving makeCircleShape");
 }

 function makeEllipseShape(coords, id) {
   log.info( "Entering makeEllipseShape");
   return new fabric.Ellipse({ top: coords[1],
                              left: coords[0],
                              rx: 15,
                              ry: 7,
                              fill : undefined,
                              stroke : 'red',
                              lockUniScaling: false,
                              hasRotatingPoint : true,
                              strokeWidth : 5 })
   log.info( "Leaving makeEllipseShape");
 }

 function makeRectangleShape(coords, id) {
    log.info( "Entering makeRectangleShape");
    return new fabric.Rect({ top: coords[1],
                             left: coords[0],
                             width: 67,
                             height: 45,
                             fill: undefined,
                             stroke : 'red',
                             hasRotatingPoint : true,
                             strokeWidth : 5 })
    log.info( "Leaving makeRectangleShape");
 }

 function activateColorPicker(e) {
      log.info( "Entering activateColorPicker");
      var activeObjectVal = canvas.getActiveObject();
      document.getElementById('myColor').color.showPicker();
      log.info( "Leaving activateColorPicker");
 }

 function colorPickerChange(newLineColor) {
      log.info( "Entering colorPickerChange");
      log.debug( "newLineColor: ", newLineColor);
      if (activeObjectVal) {
        log.trace( "activeObjectVal: ", activeObjectVal);
        if (activeObjectVal.type) {
          log.trace( "activeObjectVal.type: ", activeObjectVal.type);
          if (activeObjectVal.type == "line") {
            log.debug( "colorPickerChange on line type");
            activeObjectVal.fill = newLineColor;
            activeObjectVal.stroke = newLineColor;
          }
          if (activeObjectVal.type == "lineGroup") {
            log.debug( "colorPickerChange on lineGroup type");
            activeObjectVal._objects[2].stroke = newLineColor;
          }
          if (activeObjectVal.type == "circle") {
            log.debug( "colorPickerChange on circle type");
            activeObjectVal.stroke = newLineColor;
          }
          if (activeObjectVal.type == "ellipse") {
            log.debug( "colorPickerChange on ellipse type");
            activeObjectVal.stroke = newLineColor;
          }
          if (activeObjectVal.type == "rect") {
            log.debug( "colorPickerChange on rect type");
            activeObjectVal.stroke = newLineColor;
          }
          if (activeObjectVal.type == "i-text") {
            log.debug( "colorPickerChange on i-text type");
            activeObjectVal.stroke = newLineColor;
            //activeObjectVal.setColor(newLineColor);
          }
        }
      }
      canvas.renderAll();
      log.info( "Leaving colorPickerChange");
 }

 function makeCircle(line) {
     log.info( "Entering makeCircle");
     var c1 = new fabric.Circle({
       left: line.get('x1'),
       top: line.get('y1'),
       strokeWidth: 2,
       radius: 5,
       fill: '#fff',
       stroke: '#666',
       belongsTo: line.objId,
       type: 'circle0'
     });
     c1.hasControls = c1.hasBorders = false;
     c1.visible = true;
     c1.hoverCursor = 'crosshair'
     var c2 = new fabric.Circle({
       left: line.get('x2'),
       top: line.get('y2'),
       strokeWidth: 2,
       radius: 5,
       fill: '#fff',
       stroke: '#666',
       belongsTo: line.objId,
       type: 'circle1'
     });
     c2.hasControls = c2.hasBorders = false;
     c2.visible = true;
     c2.hoverCursor = 'crosshair'
     c1.belongsTo = line.objId;
     c2.belongsTo = line.objId;
     c1.line = line;
     c2.line = line;
     line.c1 = c1;
     line.c2 = c2;
     var c = new Array(c1, c2);
     log.info( "Leaving makeCircle");
     return c;
 }

function handleDragOver(e) {
   log.info( "Entering handleDragOver");
   if (e.preventDefault) {
      e.preventDefault(); // Necessary. Allows us to drop.
   }

   e.dataTransfer.dropEffect = 'copy'; // See the section on the DataTransfer object.
   // NOTE: comment above refers to the article (see top) -natchiketa
   log.info( "Leaving handleDragOver");
   return false;
}

function handleDragEnter(e) {
   log.info( "Entering handleDragEnter");
   // this / e.target is the current hover target.
   this.classList.add('over');
   log.info( "Leaving handleDragEnter");
}

function handleDragLeave(e) {
    log.info( "Entering handleDragLeave");
    this.classList.remove('over'); // this / e.target is previous target element.
    log.info( "Leaving handleDragLeave");
}

function sendBackward() {
   log.info( "Entering sendBackward");
   var activeObjectVal = canvas.getActiveObject();
   if (activeObjectVal) {
      canvas.sendBackwards(activeObjectVal);
   }
   $('#glossymenu').remove();
   contextmenuon = false;
   activeObject = false;
   log.info( "Leaving sendBackward");
}

function sendToBack() {
   log.info( "Entering sendToBack");
   var activeObjectVal = canvas.getActiveObject();
   if (activeObjectVal) {
      canvas.sendToBack(activeObjectVal);
   }
   $('#glossymenu').remove();
   contextmenuon = false;
   activeObject = false;
   log.info( "Leaving sendToBack");
}

function bringFoward() {
   log.info( "Entering bringFoward");
   var activeObjectVal = canvas.getActiveObject();
   if (activeObjectVal) {
      canvas.bringForward(activeObjectVal);
   }
   $('#glossymenu').remove();
   contextmenuon = false;
   activeObject = false;
   log.info( "Leaving bringFoward");
}

function bringToFront() {
   log.info( "Entering bringToFront");
   var activeObjectVal = canvas.getActiveObject();
   if (activeObjectVal) {
      canvas.bringToFront(activeObjectVal);
   }
   $('#glossymenu').remove();
   contextmenuon = false;
   activeObject = false;
   log.info( "Leaving bringToFront");
}

function lineDown(data,index) {
   log.info( "Entering lineDown");
   if (handler != "") {
      document.removeEventListener('contextmenu', handler);
   }
   if (data.e.which == 3) {
      handler = function(e) {
         if (contextmenuon == false &&  activeObject == true) {
            e.preventDefault();
            var items = ["Delete Line", "Change Color", "Send Backward", "Send To Back", "Bring Forward", "Bring To Front"];
            menus(items, e);
            $('a:contains("Delete")').click(  function() {
                                             if (canvas.getActiveObject() != null) {
                                                activeObjectVal = canvas.getActiveObject();
                                             }
                                             if (activeObjectVal.type) {
                                               if (activeObjectVal.type == "line") {
                                                 canvas.remove(activeObjectVal.c1)
                                                 canvas.remove(activeObjectVal.c2)
                                                 canvas.remove(activeObjectVal);
                                               } else if(activeObjectVal.type == "lineGroup") {
                                                 searchId = getItemIndex(activeObjectVal)
                                                 canvas.setActiveObject(canvas.item(searchId))

                                                 if(canvas.getActiveGroup()){
                                                    canvas.getActiveGroup().forEachObject(function(o){ canvas.remove(o) });
                                                    canvas.discardActiveGroup().renderAll();
                                                    lineActive = false;
                                                 } else {
                                                    canvas.remove(canvas.getActiveObject());
                                                    lineActive = false;
                                                 }
                                                 canvas.renderAll()
                                               }
                                             }
                                             $('#glossymenu').remove();
                                             contextmenuon = false;
                                             activeObject = false;
                                           });
           $('a:contains("Change Color")').click(function() {activateColorPicker(e);
                                                             $('#glossymenu').remove();
                                                             contextmenuon = false;}
                                                );
           $('a:contains("Send Backward")').click(function() {sendBackward();});
           $('a:contains("Send To Back")').click(function() {sendToBack();});
           $('a:contains("Bring Forward")').click(function() {bringFoward();});
           $('a:contains("Bring To Front")').click(function() {bringToFront();});
           contextmenuon = true;
        };
      }
      document.addEventListener('contextmenu', handler, false);
   }
   log.info( "Leaving lineDown");
}

function ellipseDown(data,index) {
   log.info( "Entering ellipseDown");
   if (handler != "") {
      document.removeEventListener('contextmenu', handler);
   }

   if (data.e.which == 3) {
      handler = function(e) {
         if (contextmenuon == false &&  activeObject == true) {
            e.preventDefault();
            var items = ["Delete Ellipse", "Change Color", "Send Backward", "Send To Back", "Bring Forward", "Bring To Front"];
            menus(items, e);
            $('a:contains("Delete")').click(  function() {log.debug("ellipseDown: In Delete");
                                             activeObjectVal = canvas.getActiveObject();
                                             log.trace(activeObjectVal);
                                             canvas.remove(activeObjectVal);
                                             $('#glossymenu').remove();
                                             contextmenuon = false;
                                             activeObject = false;}   );
           $('a:contains("Change Color")').click(function() {activateColorPicker(e);
                                                             $('#glossymenu').remove();
                                                             contextmenuon = false;}
                                                );
           $('a:contains("Send Backward")').click(function() {sendBackward();});
           $('a:contains("Send To Back")').click(function() {sendToBack();});
           $('a:contains("Bring Forward")').click(function() {bringFoward();});
           $('a:contains("Bring To Front")').click(function() {bringToFront();});
           contextmenuon = true;
        };
      }
      document.addEventListener('contextmenu', handler, false);
   }
   log.info( "Leaving ellipseDown");
}

function circleDown(data,index) {
   log.info( "Entering circleDown");
   if (handler != "") {
      document.removeEventListener('contextmenu', handler);
   }

   if (data.e.which == 3) {
      handler = function(e) {
         if (contextmenuon == false &&  activeObject == true) {
            e.preventDefault();
            var items = ["Delete Circle", "Change Color", "Send Backward", "Send To Back", "Bring Forward", "Bring To Front"];
            menus(items, e);
            $('a:contains("Delete")').click(  function() {log.debug("circleDown: In Delete");
                                             activeObjectVal = canvas.getActiveObject();
                                             log.trace(activeObjectVal);
                                             canvas.remove(activeObjectVal);
                                             $('#glossymenu').remove();
                                             contextmenuon = false;
                                             activeObject = false;}   );
           $('a:contains("Change Color")').click(function() {activateColorPicker(e);
                                                             $('#glossymenu').remove();
                                                             contextmenuon = false;}
                                                );
           $('a:contains("Send Backward")').click(function() {sendBackward();});
           $('a:contains("Send To Back")').click(function() {sendToBack();});
           $('a:contains("Bring Forward")').click(function() {bringFoward();});
           $('a:contains("Bring To Front")').click(function() {bringToFront();});
           contextmenuon = true;
        };
      }
      document.addEventListener('contextmenu', handler, false);
   }
   log.info( "Leaving circleDown");
}

function rectangleDown(data,index) {
   log.info( "Entering rectangleDown");
   if (handler != "") {
      document.removeEventListener('contextmenu', handler);
   }

   if (data.e.which == 3) {
      handler = function(e) {
         if (contextmenuon == false &&  activeObject == true) {
            e.preventDefault();
            var items = ["Delete Rectangle", "Change Color", "Send Backward", "Send To Back", "Bring Forward", "Bring To Front"];
            menus(items, e);
            $('a:contains("Delete")').click(  function() {log.debug("rectangleDown: In Delete");
                                             activeObjectVal = canvas.getActiveObject();
                                             log.trace(activeObjectVal);
                                             canvas.remove(activeObjectVal);
                                             $('#glossymenu').remove();
                                             contextmenuon = false;
                                             activeObject = false;}   );
           $('a:contains("Change Color")').click(function() {activateColorPicker(e);
                                                             $('#glossymenu').remove();
                                                             contextmenuon = false;}
                                                );
           $('a:contains("Send Backward")').click(function() {sendBackward();});
           $('a:contains("Send To Back")').click(function() {sendToBack();});
           $('a:contains("Bring Forward")').click(function() {bringFoward();});
           $('a:contains("Bring To Front")').click(function() {bringToFront();});
           contextmenuon = true;
        };
      }
      document.addEventListener('contextmenu', handler, false);
   }
   log.info( "Leaving rectangleDown");
}

function textDown(data,index) {
   log.info( "Entering textDown");
   if (handler != "") {
      document.removeEventListener('contextmenu', handler);
   }

   if (data.e.which == 3) {
      handler = function(e) {
         if (contextmenuon == false &&  activeObject == true) {
            e.preventDefault();
            var items = ["Delete Text", "Change Color", "Send Backward", "Send To Back", "Bring Forward", "Bring To Front"];
            menus(items, e);
            $('a:contains("Delete")').click(  function() {log.debug("textDown: In Delete");
                                             activeObjectVal = canvas.getActiveObject();
                                             log.trace(activeObjectVal);
                                             canvas.remove(activeObjectVal);
                                             $('#glossymenu').remove();
                                             contextmenuon = false;
                                             activeObject = false;}   );
            $('a:contains("Change Color")').click(function() {activateColorPicker(e);
                                                              $('#glossymenu').remove();
                                                              contextmenuon = false;}
                                                 );
            $('a:contains("Send Backward")').click(function() {sendBackward();});
            $('a:contains("Send To Back")').click(function() {sendToBack();});
            $('a:contains("Bring Forward")').click(function() {bringFoward();});
            $('a:contains("Bring To Front")').click(function() {bringToFront();});
            contextmenuon = true;
         };
       }
   }
   document.addEventListener('contextmenu', handler, false);
   log.info( "Leaving textDown");
}

function imageDown(data,index) {
   log.info( "Entering imageDown");
   //handle right click
   if (handler != "") {
      document.removeEventListener('contextmenu', handler);
   }

   if (data.e.which == 3) {
      handler = function(e) {
         if (contextmenuon == false &&  activeObject == true) {
            e.preventDefault();
            log.trace("ActiveObjectVal: ", activeObjectVal);
            log.trace("Has configdbid property: ", activeObjectVal.hasOwnProperty('configdbid'));
            if (activeObjectVal.configdbid != false) {
               var items = ["Configure","Delete Image", "Send To Back", "Send Backward", "Bring Forward", "Bring To Front"];
            } else {
               var items = ["Delete Image", "Send To Back", "Send Backward", "Bring Forward", "Bring To Front"];
            }
            menus(items, e);
            $('a:contains("Configure")').click( function() {
                                                   var productId = activeObjectVal.configdbid
                                                   var companyId = 1
                                                   searchId = getItemIndex(activeObjectVal)
                                                   canvas.setActiveObject(canvas.item(searchId))
                                                   configuratorProduct2(productId, companyId, searchId);
                                                   $('#glossymenu').remove();
                                                   contextmenuon = false;
                                                   activeObject = true;
                                                });
            $('a:contains("Delete")').click(  function() {log.debug("imageDown: In Delete");
                                               log.trace(activeObjectVal);
                                               canvas.remove(activeObjectVal);
                                               $('#glossymenu').remove();
                                               contextmenuon = false;
                                               activeObject = false;}   );
            $('a:contains("Change Color")').click(function() {activateColorPicker(e);});
            $('a:contains("Send Backward")').click(function() {sendBackward();});
            $('a:contains("Send To Back")').click(function() {sendToBack();});
            $('a:contains("Bring Forward")').click(function() {bringFoward();});
            $('a:contains("Bring To Front")').click(function() {bringToFront();});
            contextmenuon = true;
        };
     };
   };
   document.addEventListener('contextmenu', handler, false);
   log.info( "Leaving imageDown");
}


function handleDrop(e) {
   log.info( "Entering handleDrop");
   $("#saveMessage").text('Changes Made, Save Pending...');
   var img = document.querySelector('#images img.img_dragging');
   img.height = img.height;
   img.width = img.width;
   log.trace("Draggable Stage:", img);
   var draggy = "";
   if (e.stopPropagation) {
      e.stopPropagation(); // stops the browser from redirecting.
   }

   if (!(img == null)) {
      var imgsrc_val = img.getAttribute("img_val");
      log.debug("imgsrc_val: ", imgsrc_val)
      if (imgsrc_val == "line.png")
      {
         log.debug("In line.png section");
         objectName = "line";
         var xpos1 = e.layerX;
         var ypos1 = e.layerY;
         var xpos2 = xpos1 + 25;
         var ypos2 = ypos1 + 25;
         var id = objId_var + 3;
         objId = id;
         var line = makeLine([ xpos1, ypos1, xpos2, ypos2 ], id)
         line.hasBorders = line.hasControls = false
         canvas.add(line)
         c[id] = makeCircle(line);
         line.c1 = c[id][0];
         line.c2 = c[id][1];

         line.id = itemId
         itemId = itemId + 1;
         canvas.add(c[id][0],c[id][1]);
         line.on("mousedown", function(data, index) { lineDown(data,index); });
      } else if (imgsrc_val == "circle_icon.png") {
        log.debug("In circle_icon.png section");
        objectName = "circle";
        var xpos1 = e.layerX;
        var ypos1 = e.layerY;
        var id = objId_var + 1;
        objId = id;
        var circleShape = makeCircleShape([ xpos1, ypos1 ], id)
        circleShape.hasBorders = circleShape.hasControls = true
        circleShape.on("mousedown", function(data, index) { circleDown(data,index); });
        circleShape.id = itemId
        itemId = itemId + 1;
        canvas.add(circleShape)
      } else if (imgsrc_val == "ellipse_icon.png") {
        log.debug("In ellipse_icon.png section");
        objectName = "circle";
        var xpos1 = e.layerX;
        var ypos1 = e.layerY;
        var id = objId_var + 1;
        objId = id;
        var ellipseShape = makeEllipseShape([ xpos1, ypos1 ], id)
        ellipseShape.hasBorders = ellipseShape.hasControls = true
        ellipseShape.on("mousedown", function(data, index) { ellipseDown(data,index); });
        ellipseShape.id = itemId
        itemId = itemId + 1;
        canvas.add(ellipseShape)
      } else if (imgsrc_val == "rectangle-icon.png") {
        log.debug("In rectangle-icon.png section");
        objectName = "rectangle";
        var xpos1 = e.layerX;
        var ypos1 = e.layerY;
        var id = objId_var + 1;
        objId = id;
        var rectangleShape = makeRectangleShape([ xpos1, ypos1 ], id);
        rectangleShape.hasBorders = rectangleShape.hasControls = true
        rectangleShape.on("mousedown", function(data, index) { rectangleDown(data,index); });
        rectangleShape.id = itemId
        itemId = itemId + 1;
        canvas.add(rectangleShape)
      } else if (imgsrc_val == "textbox_icon.png") {
         log.debug("In textbox_icon.png section");
         var textbox = new fabric.IText('Tap and Type', {
             fontFamily: 'arial black',
             fontSize: 12,
             left: e.layerX,
             top: e.layerY
         });
         textbox.hasBorders = textbox.hasControls = true
         textbox.id = itemId
         itemId = itemId + 1;
         canvas.add(textbox);
         textbox.on("mousedown", function(data, index) { textDown(data,index); });
      } else {
         log.debug("In drag down else category")
         var newImage = new fabric.CustomImage(img, {
            width: img.width,
            height: img.height,
            left: e.layerX,
            top: e.layerY,
            config: 'undefined',
            origloc: 'undefined'
         });

         if(img.hasAttribute('data-config')) {
           log.debug("Has data-config")
           newImage.configdbid = img.getAttribute('data-config')
           log.debug("data-config: ", newImage.configdbid);
         } else {
           newImage.configdbid = false;
         }
         if(img.hasAttribute('data-model')) {
           log.debug("Has data-model")
           newImage.model = img.getAttribute('data-model')
           log.debug("data-model: ", newImage.model);
         } else {
           newImage.model = false;
         }
         if(img.hasAttribute('data-loc')) {
           log.debug("Has data-loc")
           newImage.origloc = img.getAttribute('data-loc')
           log.debug("data-loc: ", newImage.origloc);
         } else {
           newImage.origloc = false;
         }
         newImage.id = itemId
         newImage.setSrc("/assets/" + newImage.origloc,
                  function(obj) {
                    log.debug("Object");
                    log.debug("In callback for setSrc function");
                    log.trace(obj);
                  },
                  {
                    'height':img.height,
                    'width':img.width
                  });
         newImage.setCoords();
         log.debug("--- newImage.src ------");
         log.debug("src:",newImage.getSrc());
         log.debug("Height",newImage.getHeight());
         log.debug("Width", newImage.getWidth());
         itemId = itemId + 1;
         newImage.on("mousedown", function(data, index) { imageDown(data,index); });
         canvas.add(newImage);
         canvas.renderAll();

      }
      this.classList.remove('over');
      onSave();
      return false;
   }
   onSave();
   log.info( "Leaving handleDrop");
}

function contextMenu(env) {
   log.info( "Entering contextMenu");
   var x = env.offsetX;
   var y = env.offsetY;
   $.each (canvas._objects, function(i, e) {
   // e.left and e.top are the middle of the object use some "math" to find the outer edges
     var d = e.width / 2;
     var h = e.height / 2;
     if (x >= (e.left - d) && x <= (e.left+d)) {
        if(y >= (e.top - h) && y <= (e.top+h)) {
           return false; //in case the icons are stacked only take action on one.
        }
     }
   });
   log.info( "Leaving contextMenu");
   return false; //stops the event propigation
}

function menus(items, event) {
   log.info( "Entering menus");
   if (contextmenuon == false) {
      $('body').append("<div id='glossymenu' class='glossymenu'>");
      $('#glossymenu').append("<ul id='ulglossymenu'>");
      for (index=0; index < items.length; index++) {
         $('#ulglossymenu').append("<li> <a>" + items[index] + "</a> </li>");
      }
      $('#glossymenu').append("</ul>");
      $('#body').append("</div>");
      var posY = event.layerY + "px";
      var posX = event.layerX + "px";
      $('#glossymenu').css('top',posY);
      $('#glossymenu').css('left',posX);
   } else {
     log.info("Menu Not Displayed contextmenu is true");
   }
   log.info( "Leaving menus");
};

function handleDragEnd(e) {
   log.info( "Entering handleDragEnd");
   // this/e.target is the source node.
   [].forEach.call(images, function (img) {    img.classList.remove('img_dragging');  });
   log.info( "Leaving handleDragEnd");
};

function drawAsPNG(){
    log.info( "Entering drawAsPNG");
    canvas.isDrawingMode = false;

    if(!window.localStorage){alert("This function is not supported by your browser."); return;}
    // to PNG
    window.open(canvas.toDataURL('png'));
    log.info( "Leaving drawAsPNG");
};

function getItemIndex(object) {
     log.info( "Entering getItemIndex");
     id = object.id;
     index = 0;
     objectList = canvas.getObjects();
     for (i = 0; i < objectList.length; i++) {
       if (objectList[i].id == id) {
         index = i
       }
     }
     log.info( "Leaving getItemIndex");
     return index;
}

var popup;
function configuratorProduct(productId, companyId, searchId) {
   log.info( "Entering configuratorProduct");
   popup = window.open("/companies/" + companyId + "/prices/" + productId + "/productconfig.html?searchId=" + searchId, "Popup", "width=300,height=500");
   popup.focus();
   log.info( "Leaving configuratorProduct");
}

function backgroundModal() {
  log.info( "Entering backgroundModal");
  $('#backgroundSection').modal('show');
  log.info( "Leaving backgroundModal");
}

function loadConfigScreen( data, selectChoices, splitVals ) {
   jsondata = data;
   log.info( "Entering loadConfigScreen");
   log.trace("jsondata: ", jsondata)
   if (jsondata.error == "Data Not Found") {
      document.getElementById('data').innerHTML += '<br>' + jsondata.error;
   }
   else {
     jsondataprice = JSON.parse(jsondata.price);
   document.getElementById('data').innerHTML += '<br>' + jsondata['name'];
   for (i=0; i< jsondataprice.product.options.length; i++) {
      var newNode = document.createElement('div');
      newNode.className = 'row';
      var newNode2 = document.createElement('div');
      newNode2.className = 'col-sm-3';
      newNode2.innerHTML += jsondataprice.product.options[i].opname
      newNode.appendChild(newNode2)
      var newNode3 = document.createElement('div');
      newNode3.className = 'col-sm-9';
      var selectHTML = "";
      var selectid = 'select' + i
      selectHTML='<select id="' + selectid + '">';
      for (j=0; j< jsondataprice.product.options[i].selections.length; j++) {
         selectHTML += '<option value=\'{"code":"'
         selectHTML += jsondataprice.product.options[i].selections[j].code
         selectHTML += '","price":"'
         selectHTML += jsondataprice.product.options[i].selections[j].price
         selectHTML +='"}\''
         if (selectChoices) {
             if (jsondataprice.product.options[i].selections[j].code == splitVals[i+1]) {
                selectHTML +=' selected="selected" '
             }
         }
         selectHTML += '>'
         selectHTML +=jsondataprice.product.options[i].selections[j].description
         selectHTML +='</option>'
      }
      selectHTML += "</select>";
      newNode3.innerHTML += selectHTML
      newNode.appendChild(newNode3)
      document.getElementById('data').appendChild(newNode);
    }
    configString(jsondata,searchId)
    log.debug("Adding Listeners: Before For Loop")
    for (i=0; i< jsondataprice.product.options.length; i++) {
      var selectid = 'select' + i
      document.getElementById(selectid).onchange = function() {
            var index = this.selectedIndex;
            var inputText = this.children[index].innerHTML.trim();
            log.trace(inputText);
            configString(jsondata,searchId)
      }
    }
  }
    $('#gifspinner').fadeOut( 400 );
    log.info( "Leaving loadConfigScreen");
}

function configuratorProduct2(productId, companyId, searchId) {
   log.info( "Entering configuratorProduct2");
   $('#configsection').modal('show');
   $('#gifspinner').show();
   document.getElementById('data').innerHTML = "";
   var selectChoices = false;
   var splitVals = "";
   var objectConfig = canvas.item(searchId).config
   if (objectConfig != undefined) {
      log.info( "Object Config is Defined: ", objectConfig);
      selectChoices = true;
      splitVals = objectConfig.split("-")
   }
   var json_url = "/companies/" + companyId + "/prices/" + productId + "/productconfig.json"
   var jsondata = "";
   $.ajax({
           url: json_url, // Route to the Script Controller method
          type: "GET",
      dataType: "json",
          data: jsondata,
   contentType: "application/json",
       timeout: 3000, // sets timeout to 3 seconds
      complete: function() {
                  $('#gifspinner').fadeOut( 400 );
                  log.info( "Ajax Call is Complete");
                },
       success: function(data, textStatus, xhr) {
                   log.trace("configuratorProduct2: In Ajax Success")
                   loadConfigScreen( data, selectChoices, splitVals );
                   log.trace(data)
                   //configString(data,searchId);
                   log.info( "Ajax Call is Success");
                },
         error: function(data, textStatus) {
                log.trace(data);
                alert(textStatus);
                log.info( textStatus);
                }
        });
   log.info( "Leaving configuratorProduct2");
}

function configString(jsontext,searchId) {
  log.info( "Entering configString");
  log.trace ("configString:jasontext", jsontext);
  jsondataprice = JSON.parse(jsontext.price);
  log.trace("configString:jsondataprice", jsondataprice);
  var configurationString = jsondataprice.product.name;
  var priceString = "List Price: $";
  var listPrice = jsondataprice.product.basePrice;
  for (i=0; i< jsondataprice.product.options.length; i++) {
       selectid = 'select' + i
       var index = document.getElementById(selectid).selectedIndex
       configurationString += '-'
       var values = JSON.parse(document.getElementById(selectid).children[index].value)
       configurationString += values.code
       listPrice = parseInt(listPrice) + parseInt(values.price)
  }
  document.getElementById('prodconfig').innerHTML = configurationString
  document.getElementById('price').innerHTML = listPrice
  SetConfig(searchId)
  log.info( "Leaving configString");
}

function SetConfig(searchId) {
         log.info( "Entering SetConfig");
     //var canvas = "";
     //if (window.opener != null && !window.opener.closed) {
         //canvas = document.getElementById("demoCanvas2").fabric
         //console.log(canvas.item(searchId))
         //canvas.item(searchId).config = document.getElementById('prodconfig').innerHTML
         canvas.item(searchId).setConfig(document.getElementById('prodconfig').innerHTML)
         canvas.item(searchId).price = document.getElementById('price').innerHTML
         canvas.renderAll();
         log.info( "Leaving SetConfig");
     //}
     //window.close();
 }


 var Inspect = {
     TYPE_FUNCTION: 'function',
     // Returns an array of (the names of) all methods
     methods: function(obj) {
         var testObj = obj || self;
         var methods = [];
         for (prop in testObj) {
             if (typeof testObj[prop] == Inspect.TYPE_FUNCTION && typeof Inspect[prop] != Inspect.TYPE_FUNCTION) {
                 methods.push(prop);
             }
         }
         return methods;
     },
     // Returns an array of (the names of) all properties
     properties: function(obj) {
         var testObj = obj || self;
         var properties = [];
         for (prop in testObj) {
             if (typeof testObj[prop] != Inspect.TYPE_FUNCTION && typeof Inspect[prop] != Inspect.TYPE_FUNCTION) {
                 properties.push(prop);
             }
         }
         return properties;
     }
 }

 function runBackground() {
    progressBar.css('width', '0%').
    css('color','white').
    css('display','none').
    text("");
 }

 function removeBackground() {
    $("#saveMessage").text('Changes Made, Save Pending...');
    canvas.setBackgroundImage(0, canvas.renderAll.bind(canvas));
    onSave();
 }

 function backgroundExists(link) {

    log.info("In background exists")
    log.debug(link)
    var background_exists = false;
    if (link === undefined || link === "") {
       background_exists = false;
       log.debug("Using Background Button")
       if ( $( "#backgroundButton" ).length ) {
               log.debug("Found Background Button")
       }
       if ( $( "#backgroundButtonText" ).length ) {
               log.debug("Found backgroundButtonText")
       }
       backgroundButton(false);
    } else {
       background_exists = true;
       log.debug("Using Remove Background Button")
       if ( $( "#backgroundButton" ).length ) {
               log.debug("Found Background Button")
       }
       if ( $( "#backgroundButtonText" ).length ) {
               log.debug("Found backgroundButtonText")
       }
       backgroundButton(true);
    }
    log.debug("Background Exists?")
    log.debug(background_exists)
    log.info("Leaving Background Exists")
    return background_exists;
 }

 function backgroundButton( background )
 {
    if (background) {
      $("#backgroundButton").attr("onclick","removeBackgroundRoutine(); return false;");
      $("#backgroundButtonText").html('Remove Background');
    } else {
      $("#backgroundButton").attr("onclick","addBackgroundRoutine(); return false;");
      $("#backgroundButtonText").html('Background');
    }
 }

 function removeBackgroundRoutine()
 {
    removeBackground();
    backgroundButton(false);
    return false;
 }

 function addBackgroundRoutine()
 {
    runBackground();
    backgroundModal();
    return false;
 }
