/* Prevent the text contents of draggable elements from being selectable. */
[draggable] {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    /* Required to make elements draggable in old WebKit */
    -khtml-user-drag: element;
    -webkit-user-drag: element;
    cursor: move;
}

#pagewrapper{
  min-height: 100%;
}

.pagination-wrapper {
   text-align: center;
}
/*
#pagination-wrapper .pagination>li>a,
#pagination-wrapper .pagination>li>span {
  border: 1px solid purple;
  color: #000000
}
#pagination-wrapper .pagination>li.active>a,
#pagination-wrapper .pagination>li>span {
  background: purple;
  background-color: #303F9F;
  color: #ffffff;
}

#pagination-wrapper .pagination>li.next,
#pagination-wrapper .pagination>li>span {
  background: purple;
  background-color: #ffffff;
  color: #000000;
}
*/

#pagination-wrapper .pagination > li > a,
#pagination-wrapper .pagination > li > span {
    border: 1px solid black;
    background: #ffffff;
    color: #000000
}
#pagination-wrapper .pagination > li > a:hover,
#pagination-wrapper .pagination > li > a:focus,
#pagination-wrapper .pagination > li > span:hover,
#pagination-wrapper .pagination > li > span:focus,
#pagination-wrapper .pagination > li.active > a,
#pagination-wrapper .pagination > li.active > span {
    background: #303F9F;
    border: 1px solid #303F9F;
    color: #ffffff
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

section > .inner {
  margin: 0 auto;
  width: 1050px;
  max-width: 100%; }
section.dark {
  background-color: #29314b;
  color: #c0c4d3;
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9Ii0wLjA5NzA1OCIgeTE9IjAuMTgyNTM5IiB4Mj0iMS4wOTcwNTgiIHkyPSIwLjgxNzQ2MSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzBmMTQyNCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzI5MzE0YiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='), #29314b;
  background: -moz-linear-gradient(332deg, #0f1424, #29314b), #29314b;
  background: -webkit-linear-gradient(332deg, #0f1424, #29314b), #29314b;
  background: linear-gradient(118deg, #0f1424, #29314b), #29314b; }
  section.dark h3 {
    color: #fff; }
  section.dark a.btn {
    color: #fff;
    background-color: #4585d8; }
    section.dark a.btn:hover {
      background-color: #f5756c; }
  section.dark a, section.dark a.btn.clear {
    color: #65a4f5;
    background-color: transparent; }
    section.dark a:hover, section.dark a.btn.clear:hover {
      color: #fff; }
section.padding {
  padding-top: 140px; }
section .left, section .right {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline; }
section .left {
  width: 64%;
  max-width: 100%; }
section .right {
  width: 36%;
  text-align: right; }
  section .right img {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    vertical-align: middle; }
    section .right img.two {
      margin-top: 20px; }
section .buttons {
  margin-top: 60px; }
  section .buttons a.clear, section .buttons .more {
    margin-left: 10px;
    margin-right: 10px; }
  section .buttons .more {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    padding: 14px 22px; }
    section .buttons .more a {
      margin: 0 5px; }

      .points {
        padding: 80px 0;
        width: 100%;
        background-color: #f5f6f8;
        background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ViZWZmOCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2Y1ZjZmOCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='), #f5f6f8;
        background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ebeff8), color-stop(100%, #f5f6f8)), #f5f6f8;
        background: -moz-linear-gradient(#ebeff8, #f5f6f8), #f5f6f8;
        background: -webkit-linear-gradient(#ebeff8, #f5f6f8), #f5f6f8;
        background: linear-gradient(#ebeff8, #f5f6f8), #f5f6f8; }
        .points.top {
          border-top: 1px solid #e2e6eb; }
        .points.bottom {
          border-bottom: 1px solid #e2e6eb; }
        .points .inner {
          width: 1200px;
          padding-top: 0;
          padding-bottom: 0;
          text-align: center; }
        .points .point {
          display: inline-block;
          vertical-align: middle;
          *vertical-align: auto;
          *zoom: 1;
          *display: inline;
          width: 24%;
          text-align: center;
          vertical-align: top; }
          .points .point span {
            display: block;
            width: 120px;
            height: 120px;
            margin: 0 auto 27px auto;
            background-color: #fff;
            border: 1px solid #e2e6eb;
            background: #fff url(/assets/home_page_icons.png) no-repeat left top;
            -moz-border-radius: 34px;
            -webkit-border-radius: 34px;
            border-radius: 34px; }
          .points .point h4 {
            color: #43464c;
            font-size: 12px;
            margin-bottom: 12px; }
          .points .point p {
            color: #8e97a9;
            font-size: 12px;
            padding: 0 20px;
            max-width: 260px;
            margin: 0 auto; }

      .points .point.setup span {
        background-position: left top; }
      .points .point.wallet span {
        background-position: -123px -1px; }
      .points .point.debit span {
        background-position: -245px -1px; }
      .points .point.delivery span {
        background-position: -367px -1px; }
      .points .point.recurring span {
        background-position: -1px -123px; }
      .points .point.onetime span {
        background-position: -123px -123px; }
      .points .point.preorder span {
        background-position: -245px -123px; }
      .points .point.invoices span {
        background-position: -367px -123px; }
      .points .point.reports span {
        background-position: -1px -245px; }
      .points .point.receipts span {
        background-position: -123px -245px; }
      .points .point.terminal span {
        background-position: -245px -245px; }
      .points .point.ssl span {
        background-position: -367px -245px; }
      .points .point.coupons span {
        background-position: -1px -367px; }
      .points .point.export span {
        background-position: -123px -367px; }
      .points .point.member span {
        background-position: -245px -367px; }
      .points .point.analytics span {
        background-position: -367px -367px; }

section {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

body {
  margin: 0;
  font-size: 15px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height:100%;
}

  body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 14px;
    height:100%;
}

#page-container {
   position: relative;
   top:40px;
   height:1800px;
   width:100%;
}

#accordian-canvas-wrapper {
    position:relative;
    padding-top:10px;
    height:1000px;
    width:100%;
}

#canvas-container {
    position: absolute;
    width: 1000px;
    height: 800px;
    box-shadow: 0 0 5px 1px black;
    margin: 10px auto;
    border: 5px solid transparent;
}
#canvas-container.over {
    border: 5px dashed cyan;
}
#images img.img_dragging {
    opacity: 0.4;
}

#menubar {
  position: relative;
  padding-top: 10px;
}

.hide {
    display: none;
}

textarea  {
  resize: none;
  font-family: Consolas, Courier New, monospace;
  font-size:14px;
}

div.padded {
      padding-top: 0px;
      padding-right: 0px;
      padding-bottom: 0px;
      padding-left: 0px;
    }

.show {
    display: inline;
}

.LabelFormDiv {
display: none;
}

.foo {
    position: absolute;
    left: 110px;
    top: 10px;
}

html, body, div, canvas {
    margin: 0;
    padding: 0;
}

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#contextMenu {
  position: absolute;
  display:none;
}

#contextMenu .dropdown-menu>li>a:hover {
    background: #303F9F;
    color:#ffffff;
  }

#accordian-container {
  position: absolute;
  width: 200px;
}

#accordion .ui-accordion-content {
    font-size: 10pt;
}

#accordion .ui-accordion-content > * {
    margin: 0;
}

#accordion .ui-accordion-header {
    line-height: 10px;   //reduces height of the header box
    font-size: 8pt;
    text-indent: 10px;
}

accordion .ui-accordion-header h3 {
    font-size: 8pt;
}
