.dropdown-menu {
    min-width: 0px;
}

.dropdown-menu > li > a:hover {
            background-image:none !important;
            background-color:#1a237e !important;
 }

.row-header{
    margin:0px auto;
    padding:0px auto;
}

.row-content-no-padding {
    margin:0px auto;
    padding: 0px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height:400px;
}

.row-content-no-padding2 {
    margin:0px auto;
    padding: 0px 0px 50px 0px;
    border-bottom: 1px ridge;
    margin-bottom: 15px;
}

.row-content {
    margin:0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height:400px;
}

.row-footer{
    background-color: #003366;
    color: #CCCCCC;
    position: relative;
    margin-top: -250px; /* negative value of footer height */
    height: 250px;
    clear:both;
    padding-top:20px;
}

.row-footer a {
    color: #CCCCCC;
}

.row-footer address {
    color: #CCCCCC;
}

.row-footer p {
    color: #CCCCCC;
}

.jumbotron {
    padding:70px 30px 70px 30px;
    margin:0px;
    background: #7986CB ;
    color:floralwhite;
}

#main {
  padding-bottom:250px; /* this needs to be bigger than footer height*/
}

#wrappermainlong {
  min-height: 100%;
  padding-bottom: 150px;
  background-color: #7986CB;
}

#wrappermain {
  min-height: 100%;
  padding-bottom: 150px;
}

address{
    font-size:90%;
    margin:0px;
    color:#0f0f0f;
}

body{
    padding:0px 0px 0px 0px;
    min-height: 100%;
    margin-top:50px;
    z-index:0;
}

html {
  height: 100%
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -155px; /* the bottom margin is the negative value of the footer's height */
}

table{
    background-color: #fff;
}

ol li a:hover {
  background-color: #fff;
  color: #afafaf;
  text-decoration: none;
}
.table a, a:visited {
    color: #000;
}

#footer li > a, a:visited {
    color: #fff;
}

li > a, a:visited {
    color: #000;
}

.table a:hover {
    background-color: #fff;
    color: #afafaf;
    text-decoration: none;
}

.navbar-inverse {
     background: #303F9F;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:focus {
    color: #fff;
    background: #1A237E;
}

.navbar-inverse .navbar-nav > .active > a:hover {
    color: #303F9F;
    background: #1A237E;
}

.navbar-inverse .navbar-nav > .open > a,
 .navbar-inverse .navbar-nav > .open > a:focus {
    color: #fff;
    background: #1A237E;
}

.nav.navbar-nav> li > a:hover{
   color: #afafaf;
}

.navbar-inverse .navbar-nav .open .dropdown-menu> li> a,
.navbar-inverse .navbar-nav .open .dropdown-menu {
    background-color: #303F9F;
    color:#fff;
}

.navbar-inverse .navbar-nav .open .dropdown-menu> li> a:hover {
    color:#fff;
}

.nav.navbar-nav> li > a {
    color:#fff;
}
#sign_in {
  color:#fff;
}
[class*='-google'] {
	background-color:#dd4b39;
  color:#fff;
}
[class*='-google']:visited > *{
  background-color: #dd4b39;
  color:#fff;
}

a.btn.btn-block.btn-social.btn-google:hover,
a.btn.btn-block.btn-social.btn-google:hover > *{
  background-color: #dd3030;
  color:#fff;
}
