@font-face {
  font-family: 'optecture';
  src: url(/assets/optectureicons.ttf) format('truetype'), url(/assets/optectureicons.svg) format('svg'),
       url(/assets/optectureicons.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}

.f-optecture:before {
  font-family: optecture;
  content: "\0061";
}
