th {
   box-sizing: border-box;
   font-size: 12pt;
   padding-left: 30px;
   text-align: left;
}

th .asc {
   background-image: image-url('common/arrows_up_5.png');
   background-position: right center; /*Positioning*/
   background-repeat: no-repeat;
   box-sizing: border-box;
   padding-right: 20px;
   font-size: 12pt;
   text-align: left;
}

th .desc {
   background-image: image-url('common/arrows_down_5.png');
   background-position: right center; /*Positioning*/
   background-repeat: no-repeat;
   padding-right: 20px;
   box-sizing: border-box;
   font-size: 12pt;
   text-align: left;
}

.flatTable td {
   box-sizing: border-box;
   padding-left: 30px;
   font-size: 12pt;
}

table.flatTable tr.headingTr th.first {
   box-sizing: border-box;
   padding-left: 30px;
   font-size: 12pt;
   width: 20%;
}

table.flatTable tr.headingTr th.second {
   box-sizing: border-box;
   padding-left: 30px;
   font-size: 12pt;
   width: 10%;
}

table.flatTable tr.titleTr td.first {
   width: 20%;
}

td.first {
   box-sizing: border-box;
   padding-left: 30px;
   font-size: 12pt;
   width: 20%;
}

td.second {
   box-sizing: border-box;
   padding-left: 30px;
   font-size: 12pt;
   width: 10%;
}
td.third {
   box-sizing: border-box;
   padding-left: 30px;
   font-size: 12pt;
   width: 10%;
}

td.fourth {
   box-sizing: border-box;
   padding-left: 30px;
   font-size: 12pt;
   width: 10%;
}
.flatTable .titleTr {
   height: 70px;
   border: 0px solid;
}

.flatTable .plusTd {
   background: rgba(0, 0, 0, 0.1);
}

.flatTable .plusTd a {
   background: rgba(0, 0, 0, 0.1);
}

.flatTable .controlTd {
   position: relative;
   width: 80px;
   cursor: pointer;
}

.flatTable .headingTr {
   height: 30px;
   font-size: 12pt;
   border: 0px solid;
}

.button {
   text-align: center;
   cursor: pointer;
}

.sForm {
   position: absolute;
   top: 0;
   right: -400px;
   width: 400px;
   height: 100%;
   background: #d4d1d5;
   overflow: hidden;
   transition: width 1s, right .3s;
   padding: 0px;
   box-sizing: border-box;
}

.sForm .close {
   float: right;
   height: 70px;
   width: 80px;
   padding-top: 25px;
   box-sizing: border-box;
   background: rgba(255, 0, 0, 0.4);
}

.sForm .title {
   width: 100%;
   height: 70px;
   padding-top: 20px;
   padding-left: 20px;
   box-sizing: border-box;
   background: rgba(0, 0, 0, 0.1);
}

.open {
   right: 0;
   width: 400px !important;
}

.settingsIcons {
   position: absolute;
   top: 0;
   right: 0;
   width: 0;
   overflow: hidden;
}

.display {
   width: 300px;
}

.settingsIcon {
   float: right;
   height: 50px;
   width: 80px;
   padding-top: 15px;
   box-sizing: border-box;
   text-align: center;
   overflow: hidden;
   transition: width 1s;
}

.settingsIcon:hover {
   background: #1f6873;
}

tr:nth-child(3) .settingsIcon {
   height: 51px;
}

.openIcon {
   width: 80px;
}

.pagination {
   font-family: 'Open Sans', sans-serif;
   font-size: 12pt;
   text-align: center;
   .previous_page { background:#7777ff; color:white }
   .previous_page.disabled { background: white; color: #777 }
   .current { background: yellow }
   .next_page { background: #7777ff; color: white }
   .next_page.disabled { background: white; color: #777 }
}
