!!! 5
%html
   %head
      %title Optecture
      =favicon_link_tag 'favicon.ico'
      =stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
      =javascript_include_tag 'application', 'data-turbolinks-track' => true
      -# =stylesheet_link_tag "https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/themes/smoothness/jquery-ui.css"
      =javascript_include_tag "mobile-detect.js", "data-turbolinks-track" => true
      =javascript_include_tag 'convenience.js', "data-turbolinks-track" => true
      =javascript_include_tag 'canvaswide.js', "data-turbolinks-track" => true
      =javascript_include_tag 'lineobject.js', "data-turbolinks-track" => true
      =javascript_include_tag 'circleobject.js', "data-turbolinks-track" => true
      =javascript_include_tag 'ellipseobject.js', "data-turbolinks-track" => true
      =javascript_include_tag 'rectobject.js', "data-turbolinks-track" => true
      =javascript_include_tag 'textobject.js', "data-turbolinks-track" => true
      =javascript_include_tag 'customlinearrow.js', "data-turbolinks-track" => true
      =javascript_include_tag 'customlinetwoarrow.js', "data-turbolinks-track" => true
      =javascript_include_tag 'imageobject.js', "data-turbolinks-track" => true
      -# =javascript_include_tag 'product_configurator.js', "data-turbolinks-track" => true
      =javascript_include_tag 'drawing_scripts.js', "data-turbolinks-track" => true
      =csrf_meta_tags
   %body{"ng-app"=>"app"}
      = render "shared/error_messages"
      %div{ :id=>"configsection", :class=>"modal fade", :role=>"dialog"}
         %div{ :class=>"modal-dialog", :id=>"openModal"}
            %div{:class=>"modal-content"}
               %div{:class=>"modal-header"}
                  %button{:type=>"button",:class=>"close","data-dismiss"=>"modal"} &times;
                  %h4{:class=>"modal-title"}Product Configuration
               %div{:class=>"modal-body"}
                  %div{ :class=>"spinnergif medium", :id=>"gifspinner"}
                  %div{ :id=>"data", :class =>"form-horizontal"}
                  %div{ :class=>"row"}
                     %label{ :class=>"control-label col-sm-12 col-sm-offset-10"}
                        %button{:type=>"button",:class=>"btn btn-default btn-sm","data-dismiss"=>"modal"} Done
      %div{ :id=>"spinner", :class=>"spinner"}
         %div{ :class=>"rect1"}
         %div{ :class=>"rect2"}
         %div{ :class=>"rect3"}
         %div{ :class=>"rect4"}
         %div{ :class=>"rect5"}
      = render "shared/header"
      = yield
