!!! 5
%html
   %head
      %title Optecture
      =stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
      =javascript_include_tag 'application', 'data-turbolinks-track' => true
      =javascript_include_tag 'jquery-ui'
      =javascript_include_tag 'jquery-2.1.3.min'
      =stylesheet_link_tag "https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/themes/smoothness/jquery-ui.css"
      =javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"
      =csrf_meta_tags
   %body
      - flash.each do |key, value|
         .alert{:key=> '#{key}'}=value
      %div{ :class=>"modalDialog", :id=>"openModal"}
         %p Product Configuration
         %div{ :id=>"configsection"}
            %div{ :class=>"spinnergif medium", :id=>"gifspinner"}
            %a{:onclick => "$('#openModal').hide();", :class=>"close"}X
            %div{ :id=>"data" }
            %p{:id => 'prodconfig'}
            List Price: <em id='listconfig'></em>
      %div{ :id=>"spinner", :class=>"spinner"}
         %div{ :class=>"rect1"}
         %div{ :class=>"rect2"}
         %div{ :class=>"rect3"}
         %div{ :class=>"rect4"}
         %div{ :class=>"rect5"}
      = render "shared/header"
      = yield
