!!! 5
%html
   %head
      %title Optecture
      =favicon_link_tag 'favicon.ico'
      =stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
      %link{:type => "text/css", :rel => "stylesheet", :href => "https://fonts.googleapis.com/css?family=Bitter"}
      =javascript_include_tag 'application', 'data-turbolinks-track' => true
      =javascript_include_tag 'passwordhelper', 'data-turbolinks-track' => true
      =javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"
      =csrf_meta_tags
   %body
      = render "shared/header_start"
      %div{:id=>'wrappermainlong'}
         = render "shared/error_messages"
         = yield
      = render "shared/footer"
      :javascript
         $(document).ready(function() {
            $('#wrapper').css('top', $('#cssmenu').outerHeight());
         });
